<div class="understand-hairloss">
    <p class="font-weight-bold text-center text-md-left transplant-care-heading">Understanding Hair Loss</p>
    <div class="row">
        <div class="col-lg-8 col-md-7">
            <p class="mb-0 font-weight-bold science-head">• Is it Hair Loss or Hair Fall ?</p>
            <p class="text-left science-text">Hair fall is when you daily lose 50-100 strands of hair. Whereas, hair loss is hair fall that will not go away.
                Hair fall that happens for over a month is hair loss,more precisely a hair loss condition.
            </p>
            <p class="mb-0 mt-3 font-weight-bold science-head">• Why am I losing 50-100 strands of hair ? </p>
            <p class="text-left science-text">It is because hair grows in phases:</p>
            <ul class="list-group list-group-flush ml-0 my-3">
              <li class="list-group-item pl-0 py-1 science-text"><b class="font-weight-bold">Anagen</b> The growth phase LASTS 2 TO 8 YRS </li>
              <li class="list-group-item pl-0 py-1 science-text"><b class="font-weight-bold">Catagen</b> Transition phase LASTS 10 DAYS</li>
              <li class="list-group-item pl-0 py-1 science-text"><b class="font-weight-bold">Telogen</b> Resting phase LASTS AROUND THREE MONTHS</li>
              <li class="list-group-item pl-0 py-1 science-text"><b class="font-weight-bold">Exogen</b> New hair phase THE SHEDDING OF OLD HAIR AND GROWTH OF NEW HAIR</li>
            </ul>
            <p class="text-left science-text">A single strand of hair passes through all four stages, Normally 90% of the hair is in the anagen or
                growth phase and the rest are either in the resting or shedding phase. In case of a hair loss condition, each hair cycle
                produces thinner, weaker and fewer hair that eventually leads to baldness.
            </p>
        </div>
        <div class="col-lg-4 col-md-5 text-left">
            <div class="card rounded-lg shadow border-0 p-4" style="background: #F9F9F9;">
                <p class="text-orange lead mb-0 mt-2">
                    In hair loss condition, each hair cycle will produce thinner, weaker and fewer hair. In time,
                    follicles begin to die and hair fails to regrow.
                </p>
                <p class="text-orange lead">
                    <strong class="font-weight-bold">So yes, hair thinning is a sign of early stage hair loss.</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="row my-4">
      <div class="col-md-6 col-lg-3">
        <div class="phase-box text-lg-left text-md-center">
          <img src="{{ 'phase1.png' | asset_img_url : '238x238' }}" alt="The Growth Phase">
          <div class="phase-text">
            <p class="phase-texts">The Growth Phase</p>
            <p class="science-text">ANAGEN<br/>LASTS 2 - 8 YEARS</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="phase-box text-lg-left text-md-center">
          <img src="{{ 'phase2.png' | asset_img_url : '238x238' }}" alt="The Transition Phase">
          <div class="phase-text">
            <p class="phase-texts">The Transition Phase</p>
            <p class="science-text">CATAGEN<br/>LASTS 10 DAYS</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="phase-box text-lg-left text-md-center">
          <img src="{{ 'phase3.png' | asset_img_url : '238x238' }}" alt="The Resting Phase">
          <div class="phase-text">
            <p class="phase-texts">The Resting Phase</p>
            <p class="science-text">TELOGEN<br/>LASTS ABOUT 3 MONTHS</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="phase-box text-lg-left text-md-center">
          <img src="{{ 'phase4.png' | asset_img_url : '238x238' }}" alt="New Hair Phase">
          <div class="phase-text">
            <p class="phase-texts">New Hair Phase</p>
            <p class="science-text">EXOGEN<br/>Shedding of old hair & growth of new hair</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-8">
        <p class="mb-0 font-weight-bold science-head">• How do I know what hair loss condition am I suffering from?</p>
        <p class="text-left science-text">One of the things about hair loss is - it is super organised. That means, it happens in very specific patterns 
        </p><br/>
        <p class="science-second-text">1. Androgenic Alopecia aka  Male Pattern Baldness / Female Pattern Hair Loss</p>
        <ul class="list-group list-group-flush ml-0 my-3">
          <li class="list-group-item pl-0 py-1 science-text">• Family history, 82% of the times And just to be clear, family history includes all blood relatives on the maternal and paternal side</li>
          <li class="list-group-item pl-0 py-1 science-text">• Hair Loss for over 6 months</li>
          <li class="list-group-item pl-0 py-1 science-text">• Hair Loss in a pattern(For men - <a href="https://traya.health/blogs/hair-care/how-to-avoid-a-receding-hairline-for-men-7-hair-loss-prevention-tips"><b class="font-weight-bold">receding hairline</b></a> and gradual thinning/balding of crown area. For women - widening partition and increased scalp visibility)</li>
          <li class="list-group-item pl-0 py-1 science-text">• Decreased density or volume</li>
          <li class="list-group-item pl-0 py-1 science-text">• No recent health history (this does not include comorbidities)</li>
        </ul>
      </div>
    </div>
    <div class="row align-items-start">
      <div class="col-lg-8 col-md-7">
        <p class="science-text">
          <strong class="font-weight-bold">How does it happen?</strong>
          It’s all in the name - Androgenic Alopecia is linked to hormones called androgens. Specifically overproduction of DHT or dihydrotestosterone. This results in two things - First, the overproduced androgen receptors  bind with your follicles, causing them to shrink, this process is known as miniaturization. Because of this, your follicles can no longer get the amount of blood  oxygen and nutrition to produce thick and healthy hair. So your hair gets thinner, shorter and sometimes, non-pigmented hair until there is no more hair growth from your follicle. That is why, androgenic alopecia is gradual, so gradual that you fail to notice it in time .
          <br/><br/>
          Second, it leads to shortening of the anagen phase and lengthening of the duration between shedding phase and start of new anagen phase. Basically your hair takes time to grow, doesn’t stay for long and takes a long time to come back .
          <br/><br/>
          <strong class="font-weight-bold">But I am young, why is this happening to me so soon?</strong><br>
          Hair loss like a lot of other medical conditions has an onset period that gets affected by diet, lifestyle and other factors. Late onset is something that is ‘age-related’ and takes place due to the ageing process.  Early onset, is that which kicks off as early as 18 years old due to lifestyle triggers that aggravate pattern hair loss
        </p>
      </div>
      <div class="col-lg-4 col-md-5">
        <div class="card rounded-lg shadow border-0 p-4" style="background: #F9F9F9;">
          <p class="text-orange lead mt-2">Do you know if your hairloss is at an Anagen phase or a Resting phase? How soon will you see your hair grow back.
          </p>
          <ul class="list-group list-group-flush ml-0">
            <li class="list-group-item pl-0 py-1"> </li>
            <li class="pl-0 py-2"><a href="https://form.traya.health/questions?cohort=1&location=SciencePage" data-resultForm class="btn-link">Get an Online Hair Diagnosis <img class="ml-2" src="{{ 'arrow.svg' | asset_url }}" alt="arrow" style="width: 22px;"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <br/>
        <p class="science-second-text">2. Telogen Effluvium (TE)</p>
        <p class="science-text">
          At any time, a regular scalp has  80-90% of hair in the anagen (growth) phase and the others in the  resting phase.  The growth phase lasts for 2-4 years and the Telogen (resting) phase lasts for 2 to 4 months. After resting phase the hair falls off  and is replaced by new hair.
          <br/><br/>
          But in TE- stress or shock (mental or physical) pushes more than 40% of your hair in  the resting phase. So instead of losing just 100 in a day you lose 300.
        </p>
        <br/>
        <p class="science-text"><strong class="font-weight-bold">What counts as a trigger for Telogen Effluvium?</strong></p>
        <ul class="list-group list-group-flush ml-0 my-3">
          <li class="list-group-item pl-0 py-1 science-text">• Surgery</li>
          <li class="list-group-item pl-0 py-1 science-text">• Major physical trauma</li>
          <li class="list-group-item pl-0 py-1 science-text">• Major psychological stress</li>
          <li class="list-group-item pl-0 py-1 science-text">• High fever, severe infection or other illness</li>
          <li class="list-group-item pl-0 py-1 science-text">• Extreme weight loss</li>
          <li class="list-group-item pl-0 py-1 science-text">• Extreme change in diet</li>
          <li class="list-group-item pl-0 py-1 science-text">• Abrupt hormonal changes, (associated with childbirth & menopause)</li>
          <li class="list-group-item pl-0 py-1 science-text">• Iron deficiency</li>
          <li class="list-group-item pl-0 py-1 science-text">• Hypothyroidism or hyperthyroidism</li>
          <li class="list-group-item pl-0 py-1 science-text">• Some medications</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-7">
        <p class="science-text">Because the resting phase is 2-4 months, the hair loss starts a few months after the trigger. This type of hair loss is also
          temporary and usually doesn’t last longer than 6 months. But that doesn’t mean you don’t need to intervene. The volume loss in TE is intense and can be scary.  Volume recovery is not always as rapid as the hairloss, that’s where treatment comes in. 
        </p>
        <br/>
        <p class="science-second-text">3. Alopecia Areata</p>
        <p class="science-text">This is technically an autoimmune  disorder, in which your body’s immune system  starts attacking your follicles as if they are foreign particles. The hair loss is in the form of a coin  sized circular bald patch with no hair on it. In extreme cases, the hair loss is not limited to your scalp and may also occur in other parts of the body.  
        <br/><br/>Unfortunately, we cannot treat this type of hair loss condition. The best solution will be to go to a local dermatologist and get a Plan. We may not be able to give you medicine for this, but we will give you all the information and support that you need. Do get in touch with Traya Support.
        </p>
      </div>
      <div class="col-lg-4 col-md-5">
            <div class="card rounded-lg shadow border-0 px-3 py-4" style="background: #F9F9F9;">
              <p class="text-orange lead mt-2">In 80% cases we have noticed a direct benefit of addressing gastric and gut health of our customers. This is a core Ayurveda benefit!</p>
              <ul class="list-group list-group-flush ml-0">
                <li class="list-group-item pl-0 py-1"> </li>
                <li class="pl-0 py-2"><a id="learnMore" href="#" class="btn-link">Learn more about Why Traya Ayurveda? <img class="ml-2 float-right" src="{{ 'arrow.svg' | asset_url }}" alt="Learn more about Why Traya Ayurveda" style="width: 22px;"></a></li>
              </ul>
            </div>
          </div>
        </div>
</div>