
{% for objects in shop.metaobjects.metaobjest_test.values %}
  <div class="metaobject--container page-width">
    <div class="metaobject-img--container">
      <img src="{{ objects.photo |img_url: '500x' }}" alt="metaobject">
    </div>
    <div class="metaobject-content--container">
      <h2 class="metaobject--container">{{ objects.name }}</h2>
      <p class="metaobject-text">
        {{ objects.discription }}
      </p>
      <a href="{{ objects.website }}" class="button button--primary">view all</a>
    </div>
  </div>
{% endfor %}

<div>
  {{ page.metafields.custom.test_pdf | metafield_text }}
</div>
{% schema %}
  {
    "name": "Metaobject",
    "settings": [],
    "presets": [
      {
        "name": "Metaobject"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}