<div class="container login_root_causes">
  <p class="login-heading">Your Root Causes</p>
  <ul id="ourdia_login">


    
<li class="f-b-main-li" id="login_Seve
  re-Illness" style="display:none;">
       <div class="d-h w-100 rootcause_data">
          {% render 'login_Severe-Illness' %}
         <span class="sleep_30 d-block">Illness</span>
         <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
       </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Severe-Illness' %}
               <h4>
              <p class="root_cause_name">Illness</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>Severe illnesses such as typhoid, dengue, malaria, or COVID-19 can result in hair loss. The medications used to treat these illnesses may have side effects that include thinning or loss of hair. A high fever during a severe illness can disrupt the natural cycle of hair growth and even cause the hair follicles to shrink.</p>
            </div>
          </div>
        </div>
    </li>

    <li class="f-b-main-li" id="login_Weight-change" style="display:none;">
       <div class="d-h w-100 rootcause_data">
          {% render 'login_Weight-change' %}
         <span class="sleep_30 d-block">Weight Change</span>
           <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Weight-change' %}
               <h4>
              <p class="root_cause_name">Weight Change</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>While weight loss is often the primary concern, sudden weight gain can also contribute to hair loss. Fluctuations in weight can disrupt the body's hormonal balance, which in turn affects the hair growth cycle. Moreover, poor dietary choices during weight gain can deprive your hair of essential nutrients.</p>
             </div>
          </div>
        </div>
    </li>
    
     <li class="f-b-main-li" id="login_Surgery" style="display:none;">
      <div class="d-h w-100 rootcause_data">
          {% render 'login_Surgery' %}
          <span class="sleep_30 d-block">Surgery </span>
            <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Surgery' %}
               <h4>
              <p class="root_cause_name">Surgery</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>Surgery can stress the body and cause hair loss. Anesthesia and medications used during surgery may have side effects, including hair loss. Fasting and dietary restrictions before or after the surgery can also affect hair health.</p>
            </div>
          </div>
        </div>
    </li>

      <li class="f-b-main-li" id="login_Dandruff" style="display:none;">
      <div class="d-h w-100 rootcause_data">
          {% render 'login_Dandruff' %}
          <span class="sleep_30 d-block">Dandruff </span>
            <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Dandruff' %}
               <h4>
              <p class="root_cause_name">Dandruff</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
              <p>Dandruff, a common scalp condition with excessive skin cell flaking, can lead to hair loss.</p>
              <p>Untreated dandruff causes inflammation that damages hair follicles and clogs them, preventing healthy hair growth.</p>
            </div>
          </div>
        </div>
    </li>
    
   <li class="f-b-main-li" id="login_sleep" style="display:none;">
    <div class="d-h w-100 rootcause_data">
       {% render 'login_sleep' %}
          <span class="sleep_30 d-block">Sleep</span>
      <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
               {% render 'login_sleep' %}
               <h4>
              <p class="root_cause_name">Sleep</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>Not sleeping well at night can lead to more stress which damages the growth of your hair. Developing healthy sleeping habits can help your hair grow and reduce hair fall.</p>
             <p>Your hair follows a life cycle of growth, rest & shedding phases. Stress induced by lack of sleep pushes the hair follicles into a premature resting phase instead of growth, which then leads to a premature shedding phase. Common causes of lack of sleep: Concerns about family, relationships, finances & a demanding work schedule can cause hair loss.</p>
            </div>
          </div>
        </div>
    </li>
    

    
    <li class="f-b-main-li" id="login_genetics" style="display:none;">
    <div class="d-h w-100 rootcause_data">
          {% render 'login_genetics' %}
         <span class="sleep_30 d-block">Genetics</span>
      <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
     </div>
           <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
               {% render 'login_genetics' %}
               <h4>
              <p class="root_cause_name">Genetics</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>Blame it on your genes! Genetics play an important role in knowing when you’ll start to lose hair as you age. You may have probably heard about your mother’s father being bald, but in reality it may arise from either or both of your parents.</p>
             <p>Fortunately, this root cause leads to a predictable hair loss pattern that can be stopped if medicated on time.</p>
            </div>
          </div>
        </div>
    </li>

     <li class="f-b-main-li" id="login_digestion" style="display:none;">
      <div class="d-h w-100 rootcause_data">
          {% render 'login_digestion' %}
          <span class="sleep_30 d-block">Digestion</span>
          <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_digestion' %}
               <h4>
              <p class="root_cause_name">Digestion</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>A bad stomach can affect your hair’s health and lead to hair thinning which in turn results in hair loss. Maintaining a good diet and healthy eating habits can help improve your hair and reduce hair fall.</p>
			 <p>Certain substances in the stomach such as Enzymes, play a vital role in the repair & building functions, ensuring nutritional absorption. If the digestion process is disturbed even while maintaining a healthy diet, it could affect your hair as the nutrients required to build your hair have not been replenished.</p>
            </div>
          </div>
        </div>
    </li>
    
    <li class="f-b-main-li" id="login_lifestyle" style="display:none;">
     <div class="d-h w-100 rootcause_data">
          {% render 'login_lifestyle' %}
          <span class="sleep_30 d-block">Lifestyle </span>
       <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_lifestyle' %}
               <h4>
              <p class="root_cause_name">Lifestyle</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>Certain parts of your daily routine tend to have a negative impact on your hair’s health such as an improper diet, smoking & stress. Other factors such as spending too much time under the sun, bleaching or dying your hair often can also trigger hair loss.</p>
             <p>So when it comes to your lifestyle, maintaining healthy habits and taking care of yourself can reduce hair loss and help improve your hair’s health.</p>
            </div>
          </div>
        </div>
    </li>

    <li class="f-b-main-li" id="login_Stress" style="display:none;">
     <div class="d-h w-100 rootcause_data">
          {% render 'login_Stress' %}
          <span class="sleep_30 d-block">Stress</span>
       <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Stress' %}
               <h4>
              <p class="root_cause_name">Stress</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>When you experience stress, the hair stops growing and goes into a rest phase while new hair growth is stopped. Over time the hair starts to fall (usually in patches) and more so easily while you undertake day-to-day activities.</p>
			 <p>Undertaking de-stressing activities along with hair treatment can help reverse the hair fall. Common reasons contributing to stress: A demanding job, financial worries, relationship issues, etc.</p>
            </div>
          </div>
        </div>
    </li>

     <li class="f-b-main-li" id="login_Weight-loss" style="display:none;">
      <div class="d-h w-100 rootcause_data">
          {% render 'login_Weight-loss' %}
          <span class="sleep_30 d-block">Weight loss </span>
        <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Weight-loss' %}
               <h4>
              <p class="root_cause_name">Weight loss</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>A sudden change in eating habits or lifestyle that results in weight loss can cause hair fall. Maintaining a good diet even while going through a weight loss programme is essential to help the body absorb the right amount of nutrients.</p>
			 <p>An unhealthy eating pattern can cause fluctuations in body mass index leading to physical stress. The body under stress, signals the hair to move to a premature resting phase that ultimately leads to hair fall.</p>
            </div>
          </div>
        </div>
    </li>
    
    <li class="f-b-main-li" id="login_vitamin" style="display:none;">
     <div class="d-h w-100 rootcause_data">
          {% render 'login_vitamin' %}
          <span class="sleep_30 d-block">Vitamin </span>
       <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_vitamin' %}
               <h4>
              <p class="root_cause_name">Vitamin</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>The lack of essential vitamins in your body can lead to hair fall or make existing hair loss worse. It is important to get the right amount of vitamins through medications and a strict healthy diet.</p>
             <p>Vitamin deficiencies not only lead to the loss of hair but also damage the hair follicles faltering the hair’s growth phase.</p>
            </div>
          </div>
        </div>
    </li>

    <li class="f-b-main-li" id="login_nutrition" style="display:none;">
      <div class="d-h w-100 rootcause_data">
          {% render 'login_nutrition' %}
          <span class="sleep_30 d-block">Nutrition </span>
        <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_nutrition' %}
               <h4>
              <p class="root_cause_name">Nutrition</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>A good diet can help your body absorb the key nutrients required to support your hair’s growth. A lack of good food and exercise can lead the body into losing hair and not providing it with the essential building blocks for hair growth.</p>
			 <p>Maintaining a balanced diet along with whole foods can help improve your hair’s health.</p>
            </div>
          </div>
        </div>
    </li>

     <li class="f-b-main-li" id="malfunction" style="display:none;">
      <div class="d-h w-100 rootcause_data">
          {% render 'login_Autoimmune' %}
          <span class="sleep_30 d-block">Autoimmune</span>
        <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Autoimmune' %}
               <h4>
              <p class="root_cause_name">Autoimmune</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>A good diet can help your body absorb the key nutrients required to support your hair’s growth. A lack of good food and exercise can lead the body into losing hair and not providing it with the essential building blocks for hair growth.</p>
			 <p>Maintaining a balanced diet along with whole foods can help improve your hair’s health.</p>
            </div>
          </div>
        </div>
    </li>


<!-- Female root cause Content -->

             <li class="f-b-main-li" id="login_Pcos" pcos style="display:none;">
       <div class="d-h w-100 rootcause_data">
          {% render 'login_Pcos' %}
         <span class="sleep_30 d-block">Pcos </span>
         <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Pcos' %}
               <h4>
              <p class="root_cause_name">Pcos</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>This type of hair fall happens because of hormonal imbalance (estrogen & testosterone). It can be easily managed when treated at the right time.</p>
			</div>
          </div>
        </div>
    </li>

             <li class="f-b-main-li" id="login_Post-Pregnancy" post-pregnancy style="display:none;">
     <div class="d-h w-100 rootcause_data">
          {% render 'login_Post-Pregnancy' %}
          <span class="sleep_30 d-block">Post-Pregnancy </span>
       <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Post-Pregnancy' %}
               <h4>
              <p class="root_cause_name">Post Pregnancy</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>This type of hair fall happens because of a shift in hormone levels to support the growing baby. It can be easily managed when treated at the right time.</p>
			</div>
          </div>
        </div>
    </li>

 <li class="f-b-main-li" id="login_FThyroid" thyroid style="display:none;">
<div class="d-h w-100 rootcause_data">
          {% render 'login_Thyroid' %}
          <span class="sleep_30 d-block">Thyroid</span>
  <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Thyroid' %}
               <h4>
              <p class="root_cause_name">Thyroid</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>When thyroid hormone production is hampered, it affects hair health too. When thyroid hormone production is hampered, it affects other bodily functions too.</p>
			</div>
          </div>
        </div>
    </li>

    <li class="f-b-main-li" id="login_Pregnancy" pregnancy style="display:none;">
       <div class="d-h w-100 rootcause_data">
     {% render 'login_Pregnancy' %}
         <span class="sleep_30 d-block">Pregnancy</span>
         <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
       </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
           {% render 'login_Pregnancy' %}
               <h4>
              <p class="root_cause_name">Pregnancy</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>This type of hair fall happens because of a shift in hormone levels to support the growing baby. It can be easily managed when treated at the right time.</p>
            </div>
          </div>
        </div>
    </li>

    <li class="f-b-main-li" id="login_FStress" stress style="display:none;">
       <div class="d-h w-100 rootcause_data">
          {% render 'login_Stress' %}
         <span class="sleep_30 d-block">Stress </span>
         <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
       </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Stress' %}
               <h4>
              <p class="root_cause_name">Stress</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>This type of hair loss happens due to a rise in cortisol levels of the body. It can be easily managed when treated at the right time.</p>
            </div>
          </div>
        </div>
    </li>

    <li class="f-b-main-li" id="login_FSleep" sleep style="display:none;">
       <div class="d-h w-100 rootcause_data">
          {% render 'login_sleep' %}
         <span class="sleep_30 d-block">Sleep </span>
         <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
       </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_sleep' %}
               <h4>
              <p class="root_cause_name">Sleep</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>Not getting regular 8-9 hours of sleep hampers hormonal health (melatonin & cortisol). This increases the chances of hair fall by 62%.</p>
            </div>
          </div>
        </div>
    </li>

    <li class="f-b-main-li" id="login_Fgenetics" genetics style="display:none;">
       <div class="d-h w-100 rootcause_data">
          {% render 'login_genetics' %}
         <span class="sleep_30 d-block">Genetics</span>
         <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
       </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_genetics' %}
               <h4>
              <p class="root_cause_name">Genetics</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>This type of hair fall happens because of a genetic sensitivity to the hormone DHT. It can be easily managed when treated at the right time.</p>
            </div>
          </div>
        </div>
    </li>

    <li class="f-b-main-li" id="login_Fdigestion" digestion style="display:none;">
       <div class="d-h w-100 rootcause_data">
          {% render 'login_digestion' %}
         <span class="sleep_30 d-block">Digestion </span>
         <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
       </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_digestion' %}
               <h4>
              <p class="root_cause_name">Digestion</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>A healthy gut defines hair health. If gut health is damaged, it results in poor hair quality and hair fall. This can be easily managed when treated at the right time.</p>
            </div>
          </div>
        </div>
    </li>

    <li class="f-b-main-li" id="login_FMenopause" menopause style="display:none;">
       <div class="d-h w-100 rootcause_data">
          {% render 'login_Menopause' %}
         <span class="sleep_30 d-block">Menopause </span>
         <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
       </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Menopause' %}
               <h4>
              <p class="root_cause_name">Menopause</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>This type of hair fall happens because of a drop in hormone levels. It can be easily managed when treated at the right time.</p>
            </div>
          </div>
        </div>
    </li>

<li class="f-b-main-li" id="login_Flifestyle" lifestyle style="display:none;">
       <div class="d-h w-100 rootcause_data">
          {% render 'login_lifestyle' %}
         <span class="sleep_30 d-block">Lifestyle </span>
         <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
       </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_lifestyle' %}
               <h4>
              <p class="root_cause_name">Lifestyle</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>Unhealthy lifestyle habits directly affects hair health and the natural hair growth cycle. This can be easily managed when treated at the right time.</p>
            </div>
          </div>
        </div>
    </li>

<li class="f-b-main-li" id="login_Fnutrition" nutrition style="display:none;">
      <div class="d-h w-100 rootcause_data">
          {% render 'login_nutrition' %}
          <span class="sleep_30 d-block">Nutrition </span>
        <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_nutrition' %}
               <h4>
              <p class="root_cause_name">Nutrition</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>Hair needs food too. When nutrients like biotin, iron, zinc fall short in the body, it causes hair thinning and hair loss. This can be easily managed when treated at the right time.</p>
            </div>
          </div>
        </div>
    </li>

    <li class="f-b-main-li" id="login_Fvitamin" deficiency style="display:none;">
     <div class="d-h w-100 rootcause_data">
          {% render 'login_vitamin' %}
          <span class="sleep_30 d-block">Deficiency </span>
       <span class="sleep_30 d-block">
         <img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_vitamin' %}
               <h4>
              <p class="root_cause_name">Deficiency</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>Hair needs food too. When nutrients like biotin, iron, zinc fall short in the body, it causes hair thinning and hair loss. This can be easily managed when treated at the right time.</p>
            </div>
          </div>
        </div>
    </li>

    <li class="f-b-main-li" id="login_FHormonal" style="display:none;">
     <div class="d-h w-100 rootcause_data">
          {% render 'login_Hormonal' %}
          <span class="sleep_30 d-block">hormonal-imbalance </span>
       <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Hormonal' %}
               <h4>
              <p class="root_cause_name">Hormonal</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>Health issues like PCOS, Thyroid, and more caused due to imbalanced hormone levels affect.</p>
            </div>
          </div>
        </div>
    </li>

    <li class="f-b-main-li" id="login_Metabolism" metabolism style="display:none;">
     <div class="d-h w-100 rootcause_data">
          {% render 'login_Metabolism' %}
          <span class="sleep_30 d-block">Metabolism</span>
       <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Metabolism' %}
               <h4>
              <p class="root_cause_name">Metabolism</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>Poor metabolsim/ Low energy is an indicator that your hair & skin lack the right amount of nutrition. This can be easily managed when treated at the right time.</p>
            </div>
          </div>
        </div>
    </li>

     <li class="f-b-main-li" id="login_Fgut" gut style="display:none;">
       <div class="d-h w-100 rootcause_data">
          {% render 'login_digestion' %}
         <span class="sleep_30 d-block">Gut</span>
         <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
       </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_digestion' %}
               <h4>
              <p class="root_cause_name">Gut</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>A healthy gut defines hair health. If gut health is damaged, it results in poor hair quality and hair fall. This can be easily managed when treated at the right time.</p>
            </div>
          </div>
        </div>
    </li>

    <li class="f-b-main-li" id="login_Fconstipation" constipation style="display:none;">
       <div class="d-h w-100 rootcause_data">
          {% render 'login_digestion' %}
         <span class="sleep_30 d-block">Constipation </span>
         <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
       </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_digestion' %}
               <h4>
              <p class="root_cause_name">Constipation</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>Constipation causes a lack of essential nutrients in the body and affects hair health. This can be easily managed when treated at the right time.</p>
            </div>
          </div>
        </div>
    </li>

    <li class="f-b-main-li" id="login_Fautoimmune" autoimmune style="display:none;">
      <div class="d-h w-100 rootcause_data">
          {% render 'login_Autoimmune' %}
          <span class="sleep_30 d-block">Autoimmune</span>
        <span class="sleep_30 d-block"><img src="{{ 'info_outline.png' | asset_url }}"></span>
      </div>
       <div class="root_overlay">
          <div class="rootcause_popup">
            <span class="close">&times;</span>
            <div class="root_popup_content">
              <div class="root_cause_pop_flex">
              {% render 'login_Autoimmune' %}
               <h4>
              <p class="root_cause_name">Autoimmune</p>
              <p class="rootcause_subcontent">Root cause</p>
                 </h4>
              </div>
             <p>An auto-immune condition in the body causes cells to attack hair follicles. This causes hair loss in coin-size patches.</p>
            </div>
          </div>
        </div>
    </li>
    
  </ul>
</div>

<div class="container after-login-journey">
{% if template == 'index.login-lead' %}
   <p class="login-heading">Will Traya work for me?</p>
  <h6 class="d-none d-md-block journey_lead_content">Absolutely, Traya’s results depend on one’s type of<br> hair loss, stage and age.</h6>
  <h6 class="d-none d-md-block journey_lead_content">As per your hair test diagnosis, you will take<br><span style="font-weight:bold;"><span class="login_dyn_month">6</span> months</span> to see visible results.</h6>
 <h6 class="d-block d-md-none journey_lead_content">Absolutely, Traya’s results depend on one’s type of hair loss, stage and age.</h6>
  <h6 class="d-block d-md-none journey_lead_content">As per your hair test diagnosis, you will take <span style="font-weight:bold;"><span class="login_dyn_month">6</span> months</span> to see visible results.</h6>
 
  {% else %}
  
  <p class="login-heading">Your Journey</p>
  
 {% endif %}
  <div class="traya-journeys_bdr d-none d-md-block" login_month>
    <div class="after-traya-journeys">
      <div class="traya_month_journey">
        <div class="journey-icons">
          <div class="traya-after-login-months">
            <p class="traya_month_dynamic1 traya-journey-months">Month 1-2</p>
          </div>
          <img
            src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_102353386_1.jpg?v=1693231074"
            class="d-none d-md-block"
          >
        </div>
        <p class="month-desc">
          Treat internal root causes<br>
          behind your hair fall.
        </p>
      </div>

      <div class="traya_month_journey">
        <div class="journey-icons">
          <div class="traya-after-login-months">
            <p class="traya_month_dynamic2 traya-journey-months">Month 3-4</p>
          </div>
          <img
            src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_102353426_1.png?v=1693231073"
            class="d-none d-md-block"
          >
        </div>
        <p class="month-desc">
          Reduce hair fall and<br>
          improve follicle health.
        </p>
      </div>

      <div class="traya_month_journey">
        <div class="journey-icons">
          <div class="traya-after-login-months">
            <p class="traya_month_dynamic3 traya-journey-months">Month 4-5</p>
          </div>
          <img
            src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_102353387_2.png?v=1693231074"
            class="d-none d-md-block"
          >
        </div>
        <p class="month-desc">
          Grow new and healthy<br>
          set of baby hair.
        </p>
      </div>
    </div>
    <h4>A glimpse of your hair growth journey</h4>
  </div>

  <div class="traya_journey_mob d-md-none" login_month>
    <div class="line">
      <div class="cf">
        <div class="block fr circle_bdr circle_bdr1">
          <p>
            <span class="circle">
              <img
                src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352675_43577879-5000-4b5a-aec5-374019a78524.png?v=1691757898"
                alt="img"
              >
            </span>
          </p>
          <h4 class="traya_month_dynamic1 traya_journey_mob_month">Month 1-2</h4>
          <h6>
            Treat internal root causes <br>
            behind your hair fall.
          </h6>
        </div>
        <div class="block fr circle_bdr circle_bdr2">
          <p>
            <span class="circle">
              <img
                src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352676.png?v=1691757899"
                alt="img"
              >
            </span>
          </p>
          <h4 class="traya_month_dynamic2">Month 3-4</h4>
          <h6>
            Reduce hair fall and improve <br>
            follicle health.
          </h6>
        </div>
        <div class="block fr">
          <p>
            <span class="circle">
              <img
                src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_102352658_ccac34fb-897f-4c07-a2ef-b1f3a289ab05.png?v=1691757899"
                alt="img"
              >
            </span>
          </p>
          <h4 class="traya_month_dynamic3">Month 5-6</h4>
          <h6>
            Grow new and healthy set<br>
            of baby hair.
          </h6>
        </div>
      </div>
    </div>
    <h5>A glimpse of your hair growth journey</h5>
  </div>
  {% if template == 'index.login-lead' %}
<span class="login_lead_journey_result myresults d-none">
    <a id="myPlanHome" href="/pages/result4" class="btn btn-dark">My Recommended Plan</a>
    </span>
  {% endif %}
</div>

<style>
  .root_popup_content p {
   text-align:left;
}
  img.top_alignmn_log.d-none.d-md-block {
    bottom: 1px;
    position: relative;
}
  {% if template == 'index.login-lead' %}
    
  span.login_lead_journey_result.myresults {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
   display: block;
  }
  .login_lead_journey_result a#myPlanHome {
    margin-top: 5px!important;
    margin: 60px auto 0 !important;
      width: fit-content;
    font-size: 24px;
}
  img.svg_img_log {
    width: 64px;
    height: 64px;
    
}


  @media only screen and (max-width: 767px) {
    .rootcause_data span.sleep_30.d-block {
    font-size: 14px !important;
}
  span.sleep_30.d-block img {
    max-width: 30px !important;
}
    img.svg_img_log {
    width: auto;
    height: 35px;
    max-width: 100% !important;
}
    body.gradient.template-index .login_lead_journey_result a#myPlanHome {
    margin: 45px auto 0 !important;
    width: 80%;
    font-size: 18px;
} 
    }

  {% endif %}
   img.svg_img_log {
    width: 64px;
    height: 65px;
    max-width: 100% !important;img.svg_img_log
   margin-bottom: 10px !important;
}
    @media only screen and (max-width: 992px) and (min-width: 768px) {
 img.svg_img_log {
    width: 64px;
    height: 65px;
    max-width: 100% !important;
}
  }
  @media only screen and (max-width: 767px) {
     .rootcause_data span.sleep_30.d-block {
    font-size: 14px !important;
}
  span.sleep_30.d-block img {
    max-width: 30px !important;
}
    img.svg_img_log {
    width: auto;
    height: 35px;
    max-width: 100% !important;
}
  }
  .journey-icons img {
    margin-bottom: 20px;
}
  .container.after-login-journey h6.journey_lead_content {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    color: rgba(65, 64, 66, 1);
    margin-bottom: 20px;
}

  .root_overlay.login_pop_show {
    opacity: 1;
    visibility: visible;
}
  .root_overlay.login_pop_hide{
    visibility: hidden;
    opacity: 0;
  }
  .rootcause_data{
    text-decoration:none;
  }
  .close, .rootcause_data{
    cursor:pointer;
  }
  .block.fr.circle_bdr {
    position: relative;
}
  .d-h.w-100.rootcause_data {
    text-align: center;
}
  .d-h.w-100.rootcause_data a {
    text-decoration: none;
}
.root_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index:9999999;
}
.root_overlay:target {
  visibility: visible;
  opacity: 1;
}

.rootcause_popup {
  margin: 0 auto;
  top: 50%;
    transform: translate(0, -50%);
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
}

.rootcause_popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.rootcause_popup .close:hover {
  color: #000;
}
.rootcause_popup .root_popup_content {
  max-height: 30%;
  overflow: auto;
}

  
  .root_cause_pop_flex svg {
    margin-right: 15px;
}
  .root_cause_pop_flex h4{
     margin: 0 !important;
        margin-left: 12px !important;
  }
  p.rootcause_subcontent {
    font-size: 16px;
    font-weight: 400;
    color: rgba(136, 136, 136, 1);
    margin: 0 !important;
}
p.root_cause_name {
    color: rgba(136, 136, 136, 1);
    font-size: 24px;
    font-weight: 600;
     margin: 0 !important;
}
  .root_cause_pop_flex {
    display: flex;
    align-items: center;
        margin-bottom: 10px;
}
  .block.fr.circle_bdr1:after {
    position: absolute;
    content: '';
    border: 1px solid rgba(63, 63, 63, 1);
    bottom: 0;
    left: 28px;
    height: 84px;
    top: 60px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
}
  .block.fr.circle_bdr2:after {
    position: absolute;
    content: '';
    border: 1px solid rgba(63, 63, 63, 1);
    bottom: -63px;
    left: 28px;
    height: 79px;
    top: 59px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
}
              .traya_journey_mob {
                padding: 15px 0;
      border-radius: 5px;
      border: 1px solid;
      border-color: rgba(183, 211, 64, 1);
  }
              .traya_journey_mob h5 {
      font-size: 13px;
      font-family: 'fredoka_oneregular' !important;
      text-align: center;
      margin-top: 20px;
                    letter-spacing: normal;
  }
              .traya_journey_mob h4 {
      font-size: 17px !important;
      color: rgba(183, 211, 64, 1);
      text-align: left !important;
      margin-top: 0 !important;
  }
              .block.fr h6 {
      color: rgba(63, 63, 63, 1);
      font-size: 12px;
      font-weight: 600;
      line-height: normal;
      margin: 20px 0 0;
      padding-bottom:15px;
                letter-spacing: normal;
  }
  .traya_journey_mob h4 {
      font-size: 17px !important;
      color: rgba(183, 211, 64, 1);
  }
              .after-traya-journeys {
      display: flex;
      justify-content: center;
      align-items: center;
  }
             .traya-journeys_bdr {
      box-shadow: 11.999999046325684px 11.999999046325684px 20px 0px rgba(0, 0, 0, 0.18);
      border-radius: 5px;
      padding: 30px 50px;
      border: 1px solid;
      border-color: rgba(183, 211, 64, 1);
      text-align: center;
                   margin: 0 30px;
  }
              .container.after-login-journey h4 {
      font-size: 30px;
      font-family: 'fredoka_oneregular' !important;
      text-align: center;
      margin-top: 30px;
  }
              .traya_month_journey .month-desc {
      font-size: 20px;
      line-height: normal;
      width: 100%;
      margin: auto;
      color: rgba(63, 63, 63, 1);
      font-weight: 600;
  }
              p.traya-journey-months {
      position: relative;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      color: rgba(183, 211, 64, 1);
  }
              .after-traya-journeys.w-20 {
      display: flex;
  }
                .month-desc {
      font-size: 14px;
      line-height: 19px;
      width: 90%;
      margin: auto;
    }
    .journey-months {
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;
      color: #000;
      opacity: 0.5;
    }
    .journey-icons {
      position: relative;
      z-index: 2;
    }
    .after-login-months {
      position: absolute;
      left: 50%;
      bottom: 20%;
      transform: translate(-50%, 0px);
    }
    @media only screen and (max-width: 767px) {
      .rootcause_popup {
    margin: 0 10px;
    width: 95%;
    top: 50%;
    transform: translate(0, -50%);
}
      .container.after-login-traya-journey {
        padding: 0;
      }
    }
              .login_root_causes ul li {
      border: 1px solid rgba(218, 218, 218, 1);
      border-radius: 8px;
      padding: 20px 5px;
      width: 25%;
      margin: 0 10px;
      text-align: center;
      float: none;
  }
              .rootcause_data span {
      color: rgba(136, 136, 136, 1);
      font-size: 22px;
      font-weight: 600;
      margin-top: 0;
  }
              /* .login_root_causes ul {
      list-style: none;
      display: flex;
     justify-content: center;
    align-items: center;
  } */
  .login_root_causes ul {
    list-style: none;
    justify-content: center;
    display: inline-flex;
    width: 100%;
}
  .cf:before, .cf:after {
  	content: " ";
  	display: table;
  }
  .cf:after { clear: both; }
  .cf { *zoom: 1;
  }
  .traya_journey_mob p {

  	    margin: 0 0 0;
      padding: 15px 0 0;
  }
  .line {
  	position:relative;
  	width:100%;
  	margin:auto;
  	overflow:hidden;
  }

  .fl { float:left; }
  .fr { float:right; }
  .block {
  	width:90%;
  	position:relative;
  	padding:0 50px 0 0;
  	clear:both
  }
  .fr { padding:0 10px 0 80px; }
  .circle {
  	width:50px;
  	height:50px;
  	float:right;
  	margin-right:-75px;
  	margin-top:0;
  	position:relative;
  	z-index:2;
  }
  .fr .circle {
  	float:left;
  	margin-left:-75px;
   background: #fff;
  }
  .circle.first:before,.circle.last:before{
  	content:" ";
  	position:absolute;
  	width:4px;
  	left:50%;
  	margin:0 0 0 -2px;
  	background:#000;
  	bottom:100%;
  	height:80em;
  	z-index:3;
  	background:#000;
  }
  .circle.last:before{
  	bottom:auto;
  	top:100%;
  }
</style>

{% schema %}
{
  "name": "After Login Journey",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Enter Desktop Heading"
    },
    {
      "type": "text",
      "id": "mob-heading",
      "label": "Enter Mobile Heading"
    },
     {
          "type": "image_picker",
          "id": "des-img-4_5",
          "label": "select desktop image 4-5"
        },
       {
          "type": "image_picker",
          "id": "mob-img-4_5",
          "label": "select Mobile image 4-5"
        },
        {
          "type": "image_picker",
          "id": "des-img-7_12",
          "label": "select desktop image 7-12"
        },
    {
          "type": "image_picker",
          "id": "mob-img-7_12",
          "label": "select Mobile image 7-12"
        },
        {
          "type": "image_picker",
          "id": "des-img-6_8",
          "label": "select desktop image 6-8"
        },
    {
          "type": "image_picker",
          "id": "mob-img-6_8",
          "label": "select Mobile image 6-8"
        },
        {
          "type": "image_picker",
          "id": "des-img-5_6",
          "label": "select desktop image 5-6"
        },
    {
          "type": "image_picker",
          "id": "mob-img-5_6",
          "label": "select Mobile image 5-6"
        }
  ],
  "presets": [
    {
      "name": "After Login Journey",
      "category": "custom"
    }
  ]
}
{% endschema %}
