<!-- section/combo-use -->
<div class="container combo-use">
  <h3 class="combo-title">{{ section.settings.use }}</h3>
  {% for field in product.metafields.use %}
      {% assign first = field | last %}
      {% assign words = first | split: '->' | first %}
      {% for word in words %}
      <h2 class="combo-subtitle">
        <svg width="16" height="22" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.53871 0.0110624C6.96463 0.0110624 8.39056 0.0260634 9.81648 0.00306217C10.2718 -0.00493827 10.4164 0.158071 10.3981 0.586094C10.3726 1.18613 10.3665 1.78616 10.3981 2.38619C10.4256 2.86422 10.2626 3.08123 9.76352 3.01423C9.66167 3.00023 9.55982 3.02123 9.45796 3.01423C9.23898 2.99023 9.15852 3.06723 9.15852 3.29024C9.15852 3.51326 9.20639 3.59626 9.46407 3.61726C10.4826 3.70227 10.998 4.2753 10.998 5.29335C10.998 8.97156 10.998 12.6501 10.998 16.329C10.998 17.398 10.3869 17.9981 9.30009 18.0001C6.75583 18.0001 4.21192 18.0001 1.66833 18.0001C0.611112 18.0001 0.00305175 17.4 0.00203323 16.348C0.00203323 12.6684 0.00203323 8.98989 0.00203323 5.31236C0.00203323 4.2483 0.479719 3.72327 1.56852 3.61226C1.80583 3.58926 1.84046 3.50126 1.84046 3.31225C1.84046 3.12323 1.81194 3.02023 1.57055 3.00223C0.61111 2.92822 0.612131 2.91722 0.612131 1.96117C0.612131 1.51215 0.634539 1.06112 0.60602 0.613096C0.577502 0.165071 0.738428 -0.00593854 1.21713 0.0020619C2.65834 0.0270633 4.10055 0.0110624 5.54176 0.0110624H5.53871ZM10.3869 10.8317C10.3869 8.96656 10.3869 7.10145 10.3869 5.23635C10.3869 4.55431 10.0477 4.2223 9.36833 4.20729C8.57083 4.19029 8.55352 4.19029 8.56778 3.41425C8.57389 3.08523 8.47713 2.99723 8.14509 3.00023C6.38 3.01623 4.61592 3.01923 2.84879 3.00023C2.49333 3.00023 2.44139 3.12123 2.44139 3.42825C2.45361 4.19529 2.44139 4.19529 1.67445 4.2093C0.955371 4.2213 0.620276 4.54731 0.615183 5.25135C0.610091 5.95539 0.638613 6.65143 0.60602 7.35147C0.587687 7.73049 0.701759 7.8205 1.08167 7.8165C3.16861 7.79649 5.25759 7.8165 7.3425 7.79849C7.81 7.79849 7.96176 7.9455 7.95361 8.40453C7.9312 9.98561 7.94648 11.5687 7.94547 13.1498C7.94547 13.7908 7.93324 13.8038 7.29768 13.8048C5.21074 13.8048 3.12176 13.8108 1.03787 13.7978C0.716019 13.7978 0.59278 13.8628 0.60602 14.2038C0.63352 14.9039 0.613146 15.6039 0.615183 16.304C0.615183 17.079 0.93907 17.404 1.72027 17.404C4.23262 17.404 6.74497 17.404 9.25731 17.404C10.0772 17.404 10.3899 17.093 10.3899 16.283C10.3892 14.4642 10.3882 12.6471 10.3869 10.8317ZM3.99972 8.40453C2.99852 8.40453 1.99731 8.41853 0.997128 8.39653C0.674258 8.39053 0.602962 8.49053 0.602962 8.79055C0.619258 10.1386 0.616202 11.4907 0.602962 12.8358C0.602962 13.1068 0.664073 13.2088 0.965554 13.2068C2.96796 13.1941 4.97105 13.1941 6.97481 13.2068C7.27426 13.2068 7.34046 13.1068 7.33843 12.8368C7.3262 11.4887 7.32417 10.1366 7.33843 8.79155C7.33843 8.49153 7.27528 8.39153 6.94935 8.39653C5.9675 8.41853 4.98259 8.40453 3.99972 8.40453ZM5.44908 2.40419C6.43296 2.40419 7.41685 2.40419 8.40278 2.40419C8.84074 2.40419 9.4213 2.5482 9.67898 2.33019C9.97435 2.07618 9.72379 1.48514 9.78083 1.04612C9.83787 0.635097 9.63926 0.599095 9.29093 0.601095C7.06852 0.614096 4.84611 0.601095 2.62472 0.611096C2.1725 0.611096 1.5787 0.418085 1.30064 0.6941C1.02259 0.970116 1.26092 1.55015 1.21203 1.99417C1.16926 2.37419 1.3475 2.4202 1.67648 2.4152C2.93842 2.39819 4.19324 2.4082 5.44908 2.4082V2.40419Z" fill="#464648"/>
        </svg>
        {{ word }}
      </h2>
      {% endfor %}
    <h5 class="combo_p_about-content">
      {% assign first = field | last %}
      {% assign words = first | split: '->' | last %}
      {% for word in words %}
      {% if word.size > 250 %}
      <span id="less__desc" class="show_less-desc">{{ word | truncate: 250 }}<button class="read_mr_less_btn" id="read_mr_btn" onclick="read_btn">Read more</button></span>
      <span id="more__desc" class="hide_more-desc" style="display: none">{{ word }}<button class="read_mr_less_btn" id="read_ls_btn" onclick="read_btn">Read less</button></span>
      {% else %}
      {{ word }}
      {% endif %}
      {% endfor %}
    </h5>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Use",
    "settings": [
      {
        "type": "text",
        "id": "use",
        "label": "Use title",
        "default": "Usage and Dosage"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": -10,
        "max": 90,
        "step": 1,
        "unit": "px",
        "label": "Margin from above section",
        "default": 48
      }
    ],
    "presets": [
      {
        "name": "Use"
      }
    ]
  }
{% endschema %}

<style>
  @media (min-width: 768px){
    .combo-use{
      margin-top: {{ section.settings.margin_top }}px;
    }
  }
</style>
<script>
  $(document).ready(function(){
    $('.read_mr_less_btn').click(function(){
      $(this).parent().hide();
      $(this).parent().siblings().show();
    });
  });
</script>