<style>
    .section-{{ section.id }}-padding {
       padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
       padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    .faq-section-wrapper .flex{
       padding: 15px 20px; 
       width: auto; 
    }
  
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
         padding-top: {{ section.settings.padding_top }}px;
         padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
     @media screen and (min-device-width:320px) and (max-device-width: 1079px) {
       .faq-question {
         column-gap: 1rem;
       }
     }
  </style>
  
  <div id="{{ section.settings.link-id }}" class="section-{{ section.id }}-padding faq-{{ section.title }}--container page-width">
      {% if section.settings.heading != blank %}
        <h2 class="text-center">
          {{ section.settings.heading | escape }}
        </h2>
      {% endif %}
    <div class="faq-section-wrapper">
      {% for block in section.blocks %}
          <details>
            <summary>
                <div class="faq-question flex justify-between" style="display: flex;">
                {% for metaText in product.metafields.custom.product_faq_question.value %}
                  <span class=" text-body-smaller-m">{{ metaText }}</span>
                  <div class="faq-plus-icon">{% render 'icon-plus' %}</div>
                  <div class="faq-minus-icon">{% render 'icon-minus' %}</div>
                {% endfor %}
                </div>
            </summary>
            {% for metaText2 in product.metafields.custom.product_faq_question.value %}
                <div class="faq-answers text-body-smaller-m">
                  {{ metaText2 }}
                </div>
            {% endfor %}
          </details>
       {% endfor %}
    </div>
  </div>

<script>
let tagert = document.querySelectorAll('details');
tagert.forEach(ele=>{
  ele.addEventListener('click',function(){
    tagert.forEach((ele)=>{
      if(ele != this ){
        ele.removeAttribute('open')
      }
    })
  })
})
</script>

{% schema %}
  {
    "name": "FAQ's Section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Title",
        "default": "FAQ’s"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      },
      {
        "type": "text",
        "id": "link-id",
        "label": "Link Id",
        "default": "why-bye-bye-pigmentation"
      }
    ],
    "blocks": [
      {
        "type": "faq",
        "name": "Question-Answer",
        "settings": [
          {
            "type": "text",
            "id": "faq_question",
            "label": "Faq Question"
          },
          {
            "type": "text",
            "id": "faq_answer",
            "label": "Faq Answer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Dynamic FAQ's"
      },
      {
        "name": "Dynamic FAQ's 2"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}