{% assign product = all_products['gut-health-combo'] %}
{% assign section_id = 'product-combo-new' %}
{% if settings.enable_discount == true %}
{% assign one_month_discount = settings.one_month_discount | plus: 0 |default: 0 %}
{% assign three_month_discount = settings.three_month_discount | plus: 0 |default: 0 %}
{% else %}
{% assign one_month_discount = 0 %}
{% assign three_month_discount = 0 %}
{% endif %}
<div class="container mt-1 mt-md-2">
<!-- <h2 class="font-weight-bold l-0 text-center my-md-3 py-2 py-md-3 size_heading_result result_page_pdt_hdg">Your Customized Hair Growth Combo</h2> -->
<div class="ss-hero-product">
  {% comment %}
  Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_image_zoom = section.settings.enable_image_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}


  {%- assign product_media_width = 'medium-up--two-thirds' -%}
  {%- assign product_description_width = 'medium-up--one-third' -%}
  {%- assign height = 720 -%}


  <div class="row product-single result-page {% if section.settings.enable_payment_button %} product-single--{{ section.settings.media_size }}-media{% endif %}">
    
    <div class="col-md-6 col-12 m-auto product-single__media-group {{ product_media_width }}{% if section.settings.media_size == 'full' %} product-single__media-group--full{% endif %}" data-product-single-media-group>
      {%- assign featured_media = product.media[2] | default: product.featured_media -%}
      {% comment %}
      {%- for media in product.media -%}
      {% include 'media', media: media, featured_media: featured_media, height: height, enable_image_zoom: enable_image_zoom, image_zoom_size: product_image_zoom_size, image_scale: product_image_scale %}
      {%- endfor -%}
      {% endcomment %}
                <div class="d-block d-md-none">
        <p class="top_combo_text ml-2">Let’s build your combo:</p>
        <p class="top_sub_combo_text ml-2">Pick your concern, let’s customize your kit:</p>
        
        <div class="s-tabs-section combo_product_tab">
        <div class="px-1">
        <ul class="nav nav-pills mb-3 row" id="pills-tab" role="tablist">
        <li class="nav-item col-6 p-1 position-relative" role="presentation">
        <a class="nav-link active my-1 m-md-0" data-toggle="pill" href="#" role="tab" aria-controls="pills-1" aria-selected="true" data-value="Heavy-Hairfall">
          <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Heavy_hairfall_35x.png" class="mr-1">
        Heavy Hairfall
        </a>
        </li>
        <li class="nav-item col-6 p-1 position-relative" role="presentation">
        <a class="nav-link my-1 m-md-0" data-toggle="pill" href="#" role="tab" aria-controls="pills-2" aria-selected="false" data-value="Heavy-Dandruff">
          <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Ellipse_176_35x.png" class="mr-1">
          Heavy Dandruff
        </a>
        </li>
        <li class="nav-item col-6 p-1 position-relative" role="presentation">
        <a class="nav-link my-1 m-md-0" data-toggle="pill" href="#" role="tab" aria-controls="pills-3" aria-selected="false" data-value="Mild-Dandruff">
        <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Mild_dandruff_35x.png" class="mr-1">
          Mild Dandruff 
        </a>
        </li>
        <li class="nav-item col-6 p-1 position-relative" role="presentation">
        <a class="nav-link my-1 m-md-0" data-toggle="pill" href="#" role="tab" aria-controls="pills-3" aria-selected="false" data-value="High-Stress-Hairfall">
         <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/High_stress_Hairfall_35x.png" class="mr-1">
          Heavy Stress & Hairfall
        </a>
        </li>
        </ul>
        <div class="d-flex row">
        <div class="tab-content tabs_content_div m-auto col-12 col-md-12" id="pills-tabContent">
        <div class="tab-pane fade row show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
        <div class="m-auto col-12 col-md-7">
        </div>
        </div>
        <div class="tab-pane fade row" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
        <div class="m-auto col-12 col-md-7">
        </div>
        </div>
        <div class="tab-pane fade row" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
        <div class="m-auto col-12 col-md-7">
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
          </div>
      <div class="result-combo-pr-image">
      <div id="ImageZoom--25101940654258" style="padding-top:100.0%;" class="pt-0 product-single__media rounded-lg border product-single__media--has-thumbnails">
        <img id="FeaturedMedia--25101940654258" class="feature-row__image rounded-lg product-featured-media lazyautosizes lazyloaded" alt="Healthy Gut Combo"
             sizes="445px" 
             srcset="{% if page.handle == 'result' %}//cdn.shopify.com/s/files/1/0100/1622/7394/files/Artboard_1_df33267f-d3ac-4acd-9f0e-2c0d41f1a82c_540x.jpg{% else %}//cdn.shopify.com/s/files/1/0100/1622/7394/files/default_image_540x.jpg{% endif %}">
      </div>
      </div>
      
      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}
        <img src="{{ featured_media | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_media.alt }}" id="FeaturedMedia-{{ section_id }}" class="product-featured-media" style="max-width: {{ height }}px;">
      </noscript>


      {% if product.media.size > 1 %}
      {% if product.media.size > 4 %}
      {%- assign enable_thumbnail_slides = false -%}
      {% endif %}

      <div data-thumbnail-slider>
        <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} slider-active{% endif %}" data-slider>
          <ul class="product-single__thumbnails " data-slider-container>
            <li class="result_thumbnails-item product-single__thumbnail">
              <img class="product-single__thumbnail-image d-none" src="{% if page.handle == 'result' %}//cdn.shopify.com/s/files/1/0100/1622/7394/files/Artboard_1_df33267f-d3ac-4acd-9f0e-2c0d41f1a82c_110x100@2x.jpg{% else %}//cdn.shopify.com/s/files/1/0100/1622/7394/files/default_image_110x110@2x.jpg{% endif %}" alt="">
            </li>
          </ul>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="col-md-6 {{ product_description_width }}">
        <div>
          <div class="d-none d-md-block">
        <p class="top_combo_text ml-2">Let’s build your combo:</p>
        <p class="top_sub_combo_text ml-2">Pick your concern, let’s customize your kit:</p>
        
        <div class="s-tabs-section combo_product_tab">
        <div class="px-1">
        <ul class="nav nav-pills mb-3 row" id="pills-tab" role="tablist">
        <li class="nav-item col-6 p-1 position-relative" role="presentation">
        <a class="nav-link active my-1 m-md-0" data-toggle="pill" href="#" role="tab" aria-controls="pills-1" aria-selected="true" data-value="Heavy-Hairfall">
          <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Heavy_hairfall_35x.png">
        Heavy Hairfall
        </a>
        </li>
        <li class="nav-item col-6 p-1 position-relative" role="presentation">
        <a class="nav-link my-1 m-md-0" data-toggle="pill" href="#" role="tab" aria-controls="pills-2" aria-selected="false" data-value="Heavy-Dandruff">
          <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Ellipse_176_35x.png">
          Heavy Dandruff
        </a>
        </li>
        <li class="nav-item col-6 p-1 position-relative" role="presentation">
        <a class="nav-link my-1 m-md-0" data-toggle="pill" href="#" role="tab" aria-controls="pills-3" aria-selected="false" data-value="Mild-Dandruff">
        <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Mild_dandruff_35x.png">
          Mild Dandruff 
        </a>
        </li>
        <li class="nav-item col-6 p-1 position-relative" role="presentation">
        <a class="nav-link my-1 m-md-0" data-toggle="pill" href="#" role="tab" aria-controls="pills-3" aria-selected="false" data-value="High-Stress-Hairfall">
         <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/High_stress_Hairfall_35x.png">
          High Stress & Hairfall
        </a>
        </li>
        </ul>
        <div class="d-flex row">
        <div class="tab-content tabs_content_div m-auto col-12 col-md-12" id="pills-tabContent">
        <div class="tab-pane fade row show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
        <div class="m-auto col-12 col-md-7">
        </div>
        </div>
        <div class="tab-pane fade row" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
        <div class="m-auto col-12 col-md-7">
        </div>
        </div>
        <div class="tab-pane fade row" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
        <div class="m-auto col-12 col-md-7">
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
          </div>
        
        <h3 class="growth_combo_text ml-2">Healthy Hair Growth Combo</h3>
        <p class="growth_combo_para ml-2">Hair essentials for thicker, stronger and healthier hair from root to tip.</p>
        </div>

      
      <div class="product-single__meta product__pt p-1 border-md-none">
      <div class="row d-flex justify-content-between align-items-center my-1 trust_badge_img">
        <img class="col-6 pr-3 pr-md-auto" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_6_1.png">

                     <a class="col-6 result-gl-rvw pl-3" href="#google-reviews">
               <img class="pr-3 pr-md-auto w-100" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/google_reviews_fd52f4be-b8a7-438a-86da-67ca81eb297a.jpg">
            </a>
      </div>

        {% capture "form_classes" -%}
        product-form product-form-{{ section_id }}
        {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
        {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
        {%- endcapture %}

       <form method="post" action="/cart/add" id="product_form_6083879895218" accept-charset="UTF-8" class="product-form product-form-product-combo-new" enctype="multipart/form-data" novalidate="novalidate" data-product-form="">
          <div class="mainfemaleProduct">
            <div class="mainReviewUi d-flex pb-1 justify-content-between">
             
              <div class="mainReviewfemaleUi w-100">
                <div class="d-flex align-items-center justify-content-between mb-md-2">

                  <div class="product__price align-items-center w-100">
                    <span class="d-inline-flex align-items-center">
                    <span class="pr-2 pdp-price-txt">MRP </span> <small class="d-block" style="line-height:8px">(Inclusive of all taxes)</small>
                      </span>
<br>
                  <span class="d-inline-flex align-items-center"><dl class="price price--on-sale{% if page.handle == 'female-combo' %} mx-0 {% else %} mx-2{% endif %}" data-price="">₹ 1,990</dl><del class="del_tt_price ml-2" {% unless discount > 0 %}style="display:none"{% endunless %} data-del-price=""><span class="money">₹ 1,789/-</span></del> <span class="percentage_off_combo px-3 py-2 mx-2" {% unless discount > 0 %}style="display:none"{% endunless %}>10% off</span></span>
                    <style>
                      .prdt-price,.prdt-reg-price{
                        font-size: 26.1px;
                        font-weight: 900;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.61;
                        letter-spacing: normal;
                        text-align: left;
                        color: #424143;

                      }
                    </style>

                  </div>
                  <div class="product-form__controls-group">
                    <div class="align-items-center d-flex product-form__item mb-0">
                      <label class="mr-3 d-none d-md-block mb-0 fw-bold" for="Quantity-product-combo-new">Quantity</label>


                      <div class="js-qty">
                        <input type="text" class="js-qty__num" value="1" min="1" data-id="" aria-label="quantity" pattern="[0-9]*" name="quantity" id="Quantity-product-combo-new" readonly="">
                      </div>


                    </div>
                  </div>
                  <a class="result-gl-rvw w-50 d-none" href="#google-reviews" >
                    {% include 'google-reviews', page_type: 'result-page' %}
                  </a>
                </div>
              </div>
            </div>
            <div class="select-plan d-none" onchange="ChangePrice();">
              <div class="plans-selection card-body rounded-lg border">
                <label for="1_month" class="month-plan-1 active">
                  <input type="radio" id="1_month" checked="" name="month" value="1">
                  <onemonth> 
                    <span class="total-price-1 discounted-price" style="display:none">
                      <span class="money">₹ 2,640</span></span><span class="total__discount_price_1" style="display:none">
                    <span class="money">₹ 2,640</span></span> <span class="cstm_plan-text">One Time Purchase</span><span class="main-persentage text-danger" data-discount="{{one_month_discount}}" style="display:none">(43% Off)</span>
                    <br>
                    <span class="sub-text text-black-50 cstm_sub-text">Delivered only once</span>
                  </onemonth>

                </label>
                <label for="3_month" class="month-plan-3">
                  <input type="radio" id="3_month"  name="month" value="3">
                  <onemonth class="w-100"> <span class="total-price-3 discounted-price" style="display:none"><span class="money">₹ 7,920</span></span>
                    <span class="d-inline-flex justify-content-between w-100"><span class="total__discount_price_3" style="display:none"><span class="money">₹ 6,336</span></span> <span class="cstm_plan-text">3 Month Plan </span><span class="text-danger">Save <span class="main-persentage text-danger" data-discount="{{three_month_discount}}" {% unless three_month_discount > 0 %}style="display:none"{% endunless %}>({{three_month_discount}}% Off)</span></span></span>
                    <br>
                    <span class="sub-text text-black-50 cstm_sub-text">You will receive a Kit every Month for 3 months</span>
                  </onemonth>

                </label>
              </div>

            </div>
          </div>
        </form>
       {% if page.handle == 'result-f' %}
        <div class="d-none d-md-flex py-4">
          <button id="add-to-cart-result-page" class="add-to-cart-result-page btn w-100 py-3 px-1 pl-2 mr-3">Buy Now</button>
        </div>
        {% else%}
        <div class="row py-1 justify-content-around align-items-center phoneATC_box">
          <button id="add-to-cart-result-page" class="add-to-cart-result-page btn col-6 col-md-11 py-2 px-1 m-1"> <svg width="31" height="25" viewBox="0 0 56 52" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
<path d="M11.4249 0.129883C12.4429 0.337855 13.0551 1.00644 13.3576 2.12027C16.0074 11.874 18.6603 21.6268 21.316 31.3787C21.4678 31.9371 21.6719 32.1227 22.202 32.1213C29.254 32.099 36.3085 32.099 43.3655 32.1213C43.7998 32.1213 44.0164 31.9817 44.1881 31.5239C46.2008 26.111 48.2285 20.7061 50.2711 15.3091C50.4976 14.7144 50.3644 14.6195 49.8517 14.6391C48.8798 14.674 47.9066 14.66 46.9347 14.6461C45.5657 14.6251 44.5901 13.5727 44.6013 12.163C44.6125 10.7909 45.5969 9.72452 46.911 9.71475C49.1511 9.698 51.3799 9.69102 53.6137 9.71475C55.4804 9.73568 56.486 11.412 55.7654 13.3438C53.0276 20.68 50.279 28.0098 47.5196 35.333C47.0877 36.4803 46.3087 37.047 45.1936 37.047C36.8142 37.047 28.4348 37.0447 20.0553 37.04C18.7561 37.04 18.0753 36.3784 17.6497 34.818C15.0056 25.1135 12.3636 15.4072 9.72369 5.69907C9.58556 5.18961 9.4076 5.02072 8.92474 5.02909C6.87758 5.06399 4.82918 5.00955 2.78203 5.05701C1.51764 5.08771 0.610423 4.60756 0.168635 3.22294C0.159944 3.17772 0.13788 3.13712 0.106028 3.10773C0.0741756 3.07834 0.0344035 3.06188 -0.00683594 3.06103V2.08398C0.162412 2.08398 0.176101 1.92207 0.218413 1.80483C0.554421 0.834289 1.18163 0.275975 2.10005 0.129883H11.4249Z" fill="#2E2E2E"/>
<path d="M30.5356 -0.000102854C30.553 0.0389791 30.5617 0.104582 30.5866 0.114353C32.2181 0.760601 32.5915 1.34544 32.5915 3.26464C32.5915 5.09731 32.6238 6.92858 32.5753 8.75845C32.5579 9.43122 32.7644 9.54568 33.3021 9.53591C35.1215 9.50101 36.9421 9.50939 38.7616 9.53591C39.7721 9.54847 40.5349 10.1724 40.8423 11.1885C41.1497 12.2046 40.9282 13.1105 40.2201 13.8405C39.7372 14.3458 39.1336 14.4728 38.4952 14.4728C36.7169 14.4728 34.9385 14.4909 33.1602 14.4588C32.691 14.4505 32.5691 14.5984 32.5753 15.1149C32.6039 17.1318 32.5964 19.1487 32.584 21.1656C32.5753 22.472 32.0464 23.3653 31.1105 23.7269C29.6694 24.2852 28.2159 23.1965 28.186 21.4796C28.1499 19.3706 28.1586 17.2602 28.186 15.1511C28.1935 14.6138 28.0778 14.4533 27.5787 14.4533C25.7593 14.4895 23.9386 14.484 22.1192 14.4616C20.7827 14.4449 19.8232 13.4706 19.7697 12.139C19.7099 10.6791 20.6744 9.54567 22.0421 9.52753C23.8822 9.50519 25.7228 9.50519 27.5638 9.52753C28.0392 9.53451 28.1972 9.41168 28.186 8.84639C28.1524 6.87693 28.1711 4.90608 28.1736 2.93523C28.1736 1.3901 28.5942 0.721514 29.891 0.178553C29.9781 0.142263 30.0353 0.103187 30.0328 -0.00708008L30.5356 -0.000102854Z" fill="#2E2E2E"/>
<path d="M18.0623 52.0001C17.0378 52.0004 16.0549 51.5452 15.3291 50.7341C14.6034 49.923 14.194 48.8222 14.1907 47.6731C14.195 46.5239 14.6051 45.4234 15.3311 44.6124C16.0572 43.8015 17.0401 43.3462 18.0648 43.3462C19.0779 43.3567 20.0471 43.8113 20.7653 44.6128C21.4834 45.4144 21.8934 46.4992 21.9077 47.6354C21.9123 48.7857 21.5102 49.891 20.7893 50.7092C20.0685 51.5274 19.0878 51.9916 18.0623 52.0001Z" fill="#2E2E2E"/>
<path d="M50.2705 47.7819C50.2579 48.3506 50.1455 48.9108 49.9396 49.4307C49.7338 49.9506 49.4386 50.4198 49.0709 50.8116C48.7032 51.2033 48.2703 51.51 47.7968 51.7139C47.3234 51.9178 46.8188 52.015 46.3118 52C45.2988 51.966 44.3385 51.4864 43.6382 50.6647C42.938 49.8431 42.5542 48.7454 42.5697 47.6089C42.589 46.4617 43.0137 45.3701 43.7504 44.5741C44.4872 43.7782 45.4757 43.343 46.4985 43.3643C47.5208 43.3895 48.4924 43.8691 49.1997 44.6974C49.907 45.5258 50.2921 46.6352 50.2705 47.7819V47.7819Z" fill="#2E2E2E"/>
</svg>Add to Cart</button>
          <button id="buyNowResult2" class="buyNowResult2 btn col-5 col-md-11  py-2 position-relative m-1"> <svg width="25" height="25" viewBox="0 0 23 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
        <path class="fsvg_fill" d="M22 1H4.15L1 21.1176H8.35L4.15 39L17.8 16.6471H12.55L22 1Z" fill="#373334" stroke="#373334"/>
      </svg>Buy Now</button>
        </div>
        {% endif%}
    </div>

    {%- comment -%}
    Live region for announcing updated price and availability to screen readers
    {%- endcomment -%}
    <p class="visually-hidden" data-product-status
       aria-live="polite"
       role="status"
       ></p>

  </div>
</div>
</div>
</div>

    <div class="page-width">
      <div class="row combo-icons d-flex justify-content-between align-items-center trust_icon_female-combo">
        <div class="col-2 FS_badge p-3 my-md-0 text-center">
          <img class="m-auto" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_3_2_100x.png">
          <p class="mt-2 text-dark font-weight-bold" style="text-align: center;">ALLERGY CERTIFIED</p>
        </div>
        <div class="col-2 FS_badge p-3 my-md-0 text-center">
          <img class="m-auto" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/doctor_prescribed_100x.png">
          <p class="mt-2 text-dark font-weight-bold" style="text-align: center;">DOCTOR PRESCRIBED</p>
        </div>
        <div class="col-2 FS_badge p-3 my-md-0 text-center">
          <img class="m-auto" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/made_safe_27a00896-aaec-4641-b636-b845c6405cb4_100x.png">
          <p class="mt-2 text-dark font-weight-bold" style="text-align: center;">MADE SAFE</p>
        </div>
        <div class="col-2 FS_badge p-3 my-md-0 text-center">
          <img class="m-auto" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/vegan_42ba628d-7acd-436f-8a98-ca2791b9b77f_100x.png">
          <p class="mt-2 text-dark font-weight-bold" style="text-align: center;">VEGAN FRIENDLY</p>
        </div>
        <div class="col-2 FS_badge p-3 my-md-0 text-center">
          <img class="m-auto" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Non_toxic_fc849376-7401-44cf-866b-02c90a56803c_100x.png">
          <p class="mt-2 text-dark font-weight-bold" style="text-align: center;">NON TOXIC</p>
        </div>
        <div class="col-2 FS_badge p-3 my-md-0 text-center">
          <img class="m-auto" src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/cruelty_100x.png">
          <p class="mt-2 text-dark font-weight-bold" style="text-align: center;">CRUELTY FREE</p>
        </div>
      </div>
    </div>
{% schema %}
  {
    "name": "Female Combo Result",
    "settings": [],
          "presets":[
          {
          "name":"Female Combo Result"
          }
      ]
  }
{% endschema %}
<style>
li.result_thumbnails-item {
  flex: 0 0 17%;
  margin-left: 5px;
  margin-right: 5px;
}
.result-combo-pr-image .product-single__media.slick-initialized{
padding-top: 0 !important;
}
.result-combo-pr-image .feature-row__image.product-featured-media.slick-slide{
  position: initial;
}

/*   .template-page:not(.result) .result-page .product-single__thumbnails .slick-track{
transform: none !important;
} */
.product-single__thumbnails.slick-initialized .slick-list.draggable {
  padding-top: 5px;
}
  .product-form__controls-group .js-qty{
  height:40px;
  border: 0.5px solid #444444;
}
.plans-selection.card-body {
  padding: 0;
}
.plans-selection label{
  display: flex;
  padding:10px;
  margin: 0;
}

.plans-selection label.active {
  background: #A2BE74;
  border-radius: 10px;
}
.plans-selection label [name="month"]{
  width: 20px;
  margin-right: 8px;
      position: initial;
}
.product-form__controls-group{
display: none;
}
.product-form__controls-group .js-qty__adjust,.product-form__controls-group .js-qty__num {
  width: 55px;
  font-weight: 700;
  border-right: 0;
  border-left: 0;
  font-size: 20px;
  min-height: inherit;
}
.product-form__controls-group .js-qty__adjust{
  color:#444444;
}
/* .row.product-single.result-page{
 align-items: center;
} */
.pdp-price-txt,.product-form-product-combo-new .price {
    font-weight: 600;
  font-size: 24px;
  }
.result-gl-rvw .ggl_rvws {
  margin-left: -12px;
}
  .plans-selection label.active{
color:#fff;
  accent-color: #000;
}

#shopify-section-resultco-test-result #1_month input{
background-color:red;
}

.del_tt_price{
display:none;
}

/* code by ss */

  .top_combo_text{font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #393939;}
  .top_sub_combo_text{font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #707070;}
 .combo_product_tab .nav-link {font-weight: 700;
font-size: 14px;
line-height:16px;
/* text-align: center; */
color: #393939;}

  .combo_product_tab ul#pills-tab .nav-link{
background: #CFCFCF;
    border:none;
  }
.combo_product_tab ul#pills-tab .nav-link.active{
background: #B7D340;
  color: #393939;
}
  .combo_product_tab ul#pills-tab .nav-link.active:before{
      content:url(//cdn.shopify.com/s/files/1/0100/1622/7394/files/Group_5_1_20x.png);
    position:absolute;
    display:block;
       left: 0%;
    top: -3%;
  }
  .growth_combo_text{font-weight: 700;
font-size: 36px;
line-height: 49px;}
  .growth_combo_para{font-weight: 300;
font-size: 20px;
line-height: 27px;}
  .template-page.female-combo .del_tt_price {
    display:block; 
    color: #A9A9A9;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
  }
  .percentage_off_combo{font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: #B7D340;
    border-radius: 30px;}
/*  Code by Mayank  */
  .template-page.female-combo ul#pills-tab .nav-link {
    font-size: 14px;
  }
  .template-page.female-combo .price--on-sale .money {
    font-size: 32px;
    line-height: 44px;
    font-weight: 800;
  }
/*  End Code by Mayank  */


/*   ATC Button by Shubham */
   .female-combo button.add-to-cart-result-page:hover svg path,  .female-combo button.buyNowResult2:hover svg path{
   fill: #fff;    
  }
     .female-combo .add-to-cart-result-page {
    background: #B7D340;
  }
  .female-combo .buyNowResult2 {
    background: #FEB306;
  }
  .female-combo .add-to-cart-result-page:hover, .female-combo .buyNowResult2:hover {
    background: #414140;
    color:#fff;
  }
    .template-page.female-combo .add-to-cart-result-page.btn, .template-page.female-combo .buyNowResult2.btn {
    border-radius: 6px;
  }
  /* end  ATC Button */
@media (max-width: 767.98px){
  .result-gl-rvw .ggl_rvws{
  width: 100%;
    margin-left: 0;
  }
  .product-form__controls-group .js-qty__adjust, .product-form__controls-group .js-qty__num{
    width:32px;
    min-width:32px !important;
    font-size: 17px;
    line-height: 0;
  }  
  .product-form__controls-group .js-qty{
    height:25px;
  }
  .product-form-product-combo-new {
    margin-top: 10px;
/*       border-top: 1px solid #9A9A9A; */
    padding-top:  8px;
  }
  .product-single__thumbnails-product-combo-new .slick-list.draggable {
    padding: 0 10% 0 0 !important;
  }
  .thumbnails-wrapper {
    margin-bottom: 0;
  }
  .product-single__thumbnails.product-single__thumbnails-product-combo-new {
    margin-bottom: 8px;
  }
  .pdp-price-txt {
    font-size: 20px;
  }
  .product-form-product-combo-new .price{
    font-size: 18px;
  }
   .ggl_rvws{
  width: 50%;   
   }
  .del_tt_price{
  font-size:14px;
  }
    .combo_product_tab ul#pills-tab .nav-link.active:before{
       left: -1%;
    top: 3%;
  }
  
.growth_combo_text {
font-size: 20px;
line-height: 27px;
}
  .growth_combo_para {
font-size: 12px;
line-height: 16px;
}
  .cstm_sub-text{
font-size: 13px;
}
.cstm_plan-text{
 font-size: 18px;
}
  .trust_badge_img img{

    width:50%;
  }
  .trust_icon_female-combo .FS_badge p{
  font-size:12px;
}
/*  Code by Mayank  */
  .template-page.female-combo .price--on-sale .money {
    font-size: 20px;
    line-height: 27px;
  }
  .template-page.female-combo .del_tt_price {
    font-size: 16px;
    line-height: 22px;
  }
  .template-page.female-combo .percentage_off_combo {
    font-size: 14px;
    line-height: 19px;
  }
/*  End Code by Mayank  */

    .template-page.female-combo ul#pills-tab .nav-link {
    display: flex;
/*     justify-content: space-between; */
    align-items: center;
  }
}

@media (max-width: 600px){
  .result_page_pdt_hdg{
    font-size:20px;
  }
/*     .cstm_sub-text{
    font-size: 9px;
  } */
    .cstm_plan-text{
 font-size: 15px;
}
}
.template-page.female-combo .sticky-btn {
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 4;
}
</style>