{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .hair-fall-query-link img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="hair-fall-query-container section-{{ section.id }}-padding container">
  <a href="{{ section.settings.query_image_url }}" class="hair-fall-query-link">
    {% if section.settings.query_image_desk and section.settings.query_image_mbl != blank %}
      {% render 'responsive-picture',
        forloop: forloop,
        desktopImage: section.settings.query_image_desk,
        mobileImage: section.settings.query_image_mbl
      %}
    {% endif %}
  </a>
</div>

{% schema %}
{
  "name": "Hair Fall Queries",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Image Item"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "image_picker",
      "id": "query_image_desk",
      "label": "Add Desktop Image Here"
    },
    {
      "type": "image_picker",
      "id": "query_image_mbl",
      "label": "Add Mobile Image Here"
    },
    {
      "type": "url",
      "id": "query_image_url",
      "label": "Image Link"
    }
  ],
  "presets": [
    {
      "name": "Hair Fall Queries"
    }
  ]
}
{% endschema %}
