{{ 'hair-calculator.css' | asset_url | stylesheet_tag }}
<script src="{{ 'hair-calculator.js' | asset_url }}" defer></script>

<div class="container_hair-calculator ht_section" id="cost-calculator-top">
  <h1 id="cost-calculator">Hair Transplant Cost Calculator</h1>
  <div class="calculator_pricing-container">
    <div class="calculator">
      <div class="hairloss-area">
        <label>Select Hairloss Area</label>
        <div class="area-buttons">
          <button class="area-btn" data-area="1">1</button>
          <button class="area-btn selected" data-area="2">2</button>
          <button class="area-btn" data-area="3">3</button>
          <button class="area-btn selected" data-area="4">4</button>
          <button class="area-btn" data-area="5">5</button>
          <button class="area-btn" data-area="6">6</button>
          <button class="area-btn" data-area="7">7</button>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="216"
          height="215"
          viewBox="0 0 216 215"
          fill="none">
          <path d="M31.4518 90C31.0518 88 32.9518 70.1667 33.9518 61.5L39.4521 44L62.9521 31L150.452 34.5C158.952 40.3333 178.947 53.4372 181.952 63C187.452 80.5 170.452 120.833 161.452 144.5C161.452 150.5 160.952 163.3 160.952 164.5C160.952 166 146.952 184 139.452 192C133.452 198.4 110.619 207.667 99.9521 211.5C98.6188 211.5 96.0521 211.2 96.4521 210C96.9521 208.5 92.4521 196 91.9521 195.5C91.5521 195.1 84.7855 187.667 81.4521 184C71.4521 190.5 56.4521 190.5 45.4521 188.5L41.4521 185C40.2855 183 38.4521 177.6 40.4521 172C42.9521 165 40.4521 159 39.4521 158.5C37.9521 158 37.4521 153 38.9521 151C37.3521 151 37.2547 148 37.2547 146.5L39.2547 134.5L32.4521 132.5C32.1188 132.5 30.4521 132.2 26.452 131C22.852 129 23.2853 125.5 23.952 124L27.452 118.5C28.1187 117.167 29.552 114.1 29.952 112.5C30.452 110.5 36.452 99 36.452 97.5C36.452 96.3 34.7852 95 33.9518 94.5C33.2851 93.8333 31.8518 92 31.4518 90Z" fill="#CFCDCD" />
          <path d="M44.9997 135C44.1664 134.333 42.8997 132.9 44.4997 132.5C46.0997 132.1 47.5 126.5 47.9997 123.5L46.8943 126.817C46.3062 128.581 45.3153 130.185 44 131.5C43.6667 131.833 42.5 132.2 40.5 131C38.5 129.8 34.3333 131.667 32.5 132.5L39 134.5C39 134.833 38.3 137 37.5 145C46.5 145.5 47 147.5 54 149C61 149.5 60 155.5 60 158C60 160.5 59 165.5 55.5 170.5C52.7 174.5 47.6667 175.5 45.5 175.5C44.5 174.833 42.7 172.3 43.5 167.5C47.5 166.3 50.1667 158.333 51 154.5C49.1667 155.5 43.9 157.3 39.5 158.5C41.1 159.7 41.6667 165.5 41.5 168C41.3333 168.833 40.2 170.8 39 176C37.5 182.5 43.4999 189 48.5 190C53.5001 191 69.5 189 73.9998 187.5C77.3202 186.393 100.5 176 111 170.5C119.4 166.1 123.833 153.333 125 147.5C125.5 142.5 126.5 130.6 126.5 123C121.5 125.5 121 123.5 114.5 120.5C109.3 118.1 112 110.833 114 107.5L114.5 96C115.5 96 117.5 90 124 84C136.5 77.5 142.602 85.4165 143 89C143.5 93.5 141.5 101.5 140 106.5C139 109 137.9 112.6 133.5 119C135 128 138.666 138.5 143.5 144L162 164C162 159 162.2 147.6 163 142C164 135 175 108.5 179.5 98.5C183.1 90.5 183.333 70.8333 183 62L143.5 22L77.5 40C78.8333 40.1667 79.4 41.4 85 47C92 54 90.4998 66.5 93.9998 80.5C97.4998 94.5 102 85 104.5 95.5C107 106 101.5 114.5 99.4998 117.5C97.4998 120.5 88.4998 125.5 84.9998 128C81.4998 130.5 76.4998 139 72.4998 146C69.2998 151.6 66.1664 150.333 64.9998 149L55.9998 137L44.9997 135Z" fill="#9C9C9C" />
          <path
            data-path="1"
            class="area-path"
            d="M81.5 37L79.5 41.5C80.3333 42.3333 83.2 45 86 49C89.5 54 89 55.5 93 56.5C96.2 57.3 107.667 56.3333 113 55.5V49.5L102.5 38.5L81.5 37Z"
            fill="#F9F8F8"
            stroke="black"
            stroke-width="0.5"
            stroke-dasharray="1 1" />
          <path
            data-path="4"
            class="area-path selected"
            d="M124 3.9999C112.875 1.61598 90 4.50017 79.5 8.9999C91.5 24.8331 116 50.0005 119.5 54.5C126 53 131.5 53.5 140.5 53.5C142.5 49.0005 132.5 12.5 124 3.9999Z"
            fill="white"
            stroke="black"
            stroke-width="0.5"
            stroke-dasharray="1 1" />
          <path
            data-path="6"
            class="area-path"
            d="M133.5 5.5C144 7 166 14.5 173 29.5C155.5 37 139 24 133.5 5.5Z"
            fill="white"
            stroke="black"
            stroke-width="0.5"
            stroke-dasharray="1 1" />
          <path
            data-path="7"
            class="area-path"
            d="M183 65C184.2 59 178.667 42.5 176.001 35C166.834 40 149.8 51 157 57C166 64.5 177 65.5 183 65Z"
            fill="white"
            stroke="black"
            stroke-width="0.5"
            stroke-dasharray="1 1" />
          <path
            data-path="5"
            class="area-path"
            d="M133 5.50652C130.6 5.10652 125.5 3 114.5 3C121.167 19 135.082 53.7687 137.5 53.5C142 53.5 151 54.4921 158 58C166 54.5 172.333 42.3412 176 35.0079C176 35.1745 175.4 34.3079 173 29.5079C139.5 31.5079 136 6.00652 133 5.50652Z"
            fill="white"
            stroke="black"
            stroke-width="0.5"
            stroke-dasharray="1 1" />
          <path
            data-path="3"
            class="area-path"
            d="M88 28.9954L46 28.4954C49 23.4954 77.5516 6.20379 84 7.49543C99 10.5 104 15.9999 106.5 19.4999C110.5 22.4999 116.833 44.3288 119.5 54.4954L88 28.9954Z"
            fill="white"
            stroke="black"
            stroke-width="0.5"
            stroke-dasharray="1 1" />
          <path
            data-path="2"
            class="area-path selected"
            d="M49.4958 44.9999C41.8958 46.9999 36.3292 56.8332 34.4958 61.4999C33.4958 35 42.5 30 50.4958 24.9999C58.5 21 73.8699 22.5571 87.9975 25.4997C99.9991 27.9995 114.163 45.3332 119.496 54.4999C118 55 116.5 55 113 55.5C105 40 94.4958 38.9999 86.4958 38.9999C78.4958 38.9999 82.9958 44.4999 78.9958 41.9999C74.9958 39.4999 58.9958 42.4999 49.4958 44.9999Z"
            fill="white"
            stroke="black"
            stroke-width="0.5"
            stroke-dasharray="1 1" />
          <path d="M94.59 51V49.94H96.18V45.41L94.95 46.15L94.45 45.21L96.55 43.95H97.46V49.94H98.95V51H94.59Z" fill="#414042" />
          <path d="M54.3 37V36.05L56.58 33.62C56.8867 33.2867 57.1067 32.9933 57.24 32.74C57.3733 32.48 57.44 32.2167 57.44 31.95C57.44 31.27 57.03 30.93 56.21 30.93C55.57 30.93 54.98 31.17 54.44 31.65L54.01 30.69C54.29 30.4367 54.64 30.2333 55.06 30.08C55.48 29.9267 55.9167 29.85 56.37 29.85C57.1233 29.85 57.7 30.02 58.1 30.36C58.5067 30.7 58.71 31.1867 58.71 31.82C58.71 32.2467 58.6067 32.6567 58.4 33.05C58.2 33.4433 57.8833 33.8667 57.45 34.32L55.9 35.94H58.98V37H54.3Z" fill="#414042" />
          <path d="M85.36 20.1C84.88 20.1 84.42 20.03 83.98 19.89C83.5467 19.7433 83.1867 19.5467 82.9 19.3L83.32 18.32C83.92 18.7867 84.5867 19.02 85.32 19.02C86.22 19.02 86.67 18.6667 86.67 17.96C86.67 17.6267 86.5567 17.38 86.33 17.22C86.11 17.0533 85.7867 16.97 85.36 16.97H84.23V15.91H85.24C85.6133 15.91 85.91 15.82 86.13 15.64C86.35 15.4533 86.46 15.1967 86.46 14.87C86.46 14.5633 86.3567 14.33 86.15 14.17C85.95 14.01 85.6567 13.93 85.27 13.93C84.5767 13.93 83.9667 14.17 83.44 14.65L83.02 13.69C83.3 13.4233 83.65 13.2167 84.07 13.07C84.49 12.9233 84.9267 12.85 85.38 12.85C86.1133 12.85 86.6833 13.0167 87.09 13.35C87.4967 13.6767 87.7 14.1333 87.7 14.72C87.7 15.1 87.6033 15.4333 87.41 15.72C87.2167 16.0067 86.9533 16.2133 86.62 16.34C87.0267 16.4533 87.3433 16.6633 87.57 16.97C87.7967 17.27 87.91 17.6367 87.91 18.07C87.91 18.6967 87.6833 19.1933 87.23 19.56C86.7767 19.92 86.1533 20.1 85.36 20.1Z" fill="#414042" />
          <path d="M120.99 39V37.66H117.92V36.72L121.21 31.95H122.27V36.6H123.26V37.66H122.27V39H120.99ZM120.99 36.6V33.91L119.15 36.6H120.99Z" fill="#414042" />
          <path d="M146.56 41.1C146.1 41.1 145.653 41.03 145.22 40.89C144.787 40.7433 144.433 40.5467 144.16 40.3L144.58 39.32C145.187 39.7867 145.84 40.02 146.54 40.02C146.96 40.02 147.287 39.9133 147.52 39.7C147.76 39.48 147.88 39.1867 147.88 38.82C147.88 38.4467 147.767 38.1467 147.54 37.92C147.313 37.6867 147.003 37.57 146.61 37.57C146.05 37.57 145.587 37.7933 145.22 38.24H144.36V33.95H148.69V35.01H145.61V36.92C145.963 36.6533 146.397 36.52 146.91 36.52C147.357 36.52 147.743 36.6167 148.07 36.81C148.403 36.9967 148.66 37.26 148.84 37.6C149.027 37.9333 149.12 38.3233 149.12 38.77C149.12 39.23 149.017 39.6367 148.81 39.99C148.603 40.3367 148.307 40.61 147.92 40.81C147.54 41.0033 147.087 41.1 146.56 41.1Z" fill="#414042" />
          <path d="M154.76 24.1C153.887 24.1 153.21 23.7933 152.73 23.18C152.257 22.5667 152.02 21.7067 152.02 20.6C152.02 19.4067 152.287 18.4833 152.82 17.83C153.36 17.1767 154.103 16.85 155.05 16.85C155.423 16.85 155.793 16.92 156.16 17.06C156.527 17.1933 156.84 17.3867 157.1 17.64L156.68 18.6C156.433 18.3733 156.17 18.2067 155.89 18.1C155.61 17.9867 155.323 17.93 155.03 17.93C154.45 17.93 154.007 18.1333 153.7 18.54C153.393 18.9467 153.24 19.5533 153.24 20.36V20.65C153.38 20.2833 153.607 19.9967 153.92 19.79C154.233 19.5833 154.593 19.48 155 19.48C155.407 19.48 155.767 19.5767 156.08 19.77C156.393 19.9633 156.64 20.23 156.82 20.57C157 20.91 157.09 21.3 157.09 21.74C157.09 22.1933 156.99 22.6 156.79 22.96C156.597 23.3133 156.323 23.5933 155.97 23.8C155.623 24 155.22 24.1 154.76 24.1ZM154.69 23.08C155.05 23.08 155.34 22.9633 155.56 22.73C155.787 22.49 155.9 22.1767 155.9 21.79C155.9 21.4033 155.787 21.09 155.56 20.85C155.34 20.61 155.05 20.49 154.69 20.49C154.33 20.49 154.037 20.61 153.81 20.85C153.59 21.09 153.48 21.4033 153.48 21.79C153.48 22.1767 153.59 22.49 153.81 22.73C154.037 22.9633 154.33 23.08 154.69 23.08Z" fill="#414042" />
          <path d="M172.36 57L175.54 51.02H172.05V49.95H176.96V50.91L173.77 57H172.36Z" fill="#414042" />
        </svg>
      </div>
      <div id="range-container">
        <div class="range-text">
          <span class="range_left">Totally Bald</span>
          <span class="range_right">Appearance of fulness</span>
        </div>
        <div class="inputParent">
          <input
            type="range"
            id="range-bar"
            min="0"
            max="7"
            value="0"
            disabled>
          <span class="inputSpan"></span>
        </div>
      </div>
      <div class="results">
        <div class="result-item">
          <label>Grafts needed</label>
          <span id="graft-needed">0</span>
        </div>
        <div class="result-item">
          <label>Hair count</label>
          <span id="hair-count">0</span>
        </div>
      </div>
      <div class="hair_calculate_btn" id="calculate_btn">Calculate My Transplant Cost</div>
    </div>
    <div class="pricing-desktop">
      <div class="result-item">
        <div class="pricing">
          <span>₹</span>
          <span id="cost-container">0</span>
           <sup style="left: -8px; top: -0.3em;">*</sup>
        </div>
        {% if section.settings.approx_cost != blank %}
        <div class="pricing_text">{{ section.settings.approx_cost }}</div>
          {% endif %}
      </div>
      <div class="how_to_use">
        <h2>How to use Calculator</h2>
        <div class="step">
          <div class="number">1</div>
          <p>Select area of hairloss</p>
        </div>
        <div class="step">
          <div class="number">2</div>
          <p>Select desired hair density</p>
        </div>
        <div class="step">
          <div class="number">3</div>
          <p>Hit calculate to get costing</p>
        </div>
      </div>
      <div class="pricing_desktop_btn">
        <span id="product_cost" data-cost="{{ section.settings.product_cost }}">You can save ₹
          <span id="cost"></span>
          on your hair transplant by taking this hair test now</span>
        <a href="https://form.traya.health/questions?cohort=1&location=ht-cost&page={{ request.path | replace: "/", "_" | replace: '_blogs_', 'blogs_' }}&utm_campaign=blogs_ht_cost" id="htcost1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="33"
            viewBox="0 0 32 33"
            fill="none">
            <path d="M16 3.5C13.4288 3.5 10.9154 4.26244 8.77759 5.6909C6.63975 7.11935 4.97351 9.14968 3.98957 11.5251C3.00563 13.9006 2.74819 16.5144 3.2498 19.0362C3.75141 21.5579 4.98953 23.8743 6.80762 25.6924C8.6257 27.5105 10.9421 28.7486 13.4638 29.2502C15.9856 29.7518 18.5995 29.4944 20.9749 28.5104C23.3503 27.5265 25.3807 25.8603 26.8091 23.7224C28.2376 21.5846 29 19.0712 29 16.5C28.9964 13.0533 27.6256 9.74882 25.1884 7.31163C22.7512 4.87445 19.4467 3.50364 16 3.5ZM16 27.5C13.8244 27.5 11.6977 26.8549 9.88873 25.6462C8.07979 24.4375 6.66989 22.7195 5.83733 20.7095C5.00477 18.6995 4.78693 16.4878 5.21137 14.354C5.63581 12.2202 6.68345 10.2602 8.22183 8.72183C9.76021 7.18345 11.7202 6.1358 13.854 5.71136C15.9878 5.28692 18.1995 5.50476 20.2095 6.33733C22.2195 7.16989 23.9375 8.57979 25.1462 10.3887C26.3549 12.1977 27 14.3244 27 16.5C26.9967 19.4164 25.8367 22.2123 23.7745 24.2745C21.7123 26.3367 18.9164 27.4967 16 27.5ZM21.7075 15.7925C21.8005 15.8854 21.8742 15.9957 21.9246 16.1171C21.9749 16.2385 22.0008 16.3686 22.0008 16.5C22.0008 16.6314 21.9749 16.7615 21.9246 16.8829C21.8742 17.0043 21.8005 17.1146 21.7075 17.2075L17.7075 21.2075C17.5199 21.3951 17.2654 21.5006 17 21.5006C16.7346 21.5006 16.4801 21.3951 16.2925 21.2075C16.1049 21.0199 15.9994 20.7654 15.9994 20.5C15.9994 20.2346 16.1049 19.9801 16.2925 19.7925L18.5863 17.5H11C10.7348 17.5 10.4804 17.3946 10.2929 17.2071C10.1054 17.0196 10 16.7652 10 16.5C10 16.2348 10.1054 15.9804 10.2929 15.7929C10.4804 15.6054 10.7348 15.5 11 15.5H18.5863L16.2925 13.2075C16.1049 13.0199 15.9994 12.7654 15.9994 12.5C15.9994 12.2346 16.1049 11.9801 16.2925 11.7925C16.4801 11.6049 16.7346 11.4994 17 11.4994C17.2654 11.4994 17.5199 11.6049 17.7075 11.7925L21.7075 15.7925Z" fill="#B7D340" />
          </svg>
        </a>
      </div>
    </div>  
    <div class="pricing-mobile hidden">
      <div class="result-item">
        <div class="pricing">
          <span>₹</span>
          <span id="cost-container_mobile">0</span>
          <sup style="left: -8px; top: -0.3em;">*</sup>
        </div>
         {% if section.settings.approx_cost != blank %}
        <div class="pricing_text">{{ section.settings.approx_cost }}</div>
          {% endif %}
        <hr>
      </div>
      <span id="product_cost" data-cost="{{ section.settings.product_cost }}">Save ₹<span id="cost_mobile"></span>
        <br> Find the root cause of your hair loss</span>
      <a href="https://form.traya.health/questions?cohort=1&location=ht-cost&page={{ request.path | replace: "/", "_" | replace: '_blogs_', 'blogs_' }}&utm_campaign=blogs_ht_cost" class="hair_test_btn" id="htcost1">Take the FREE Hair Test
        <sup>TM</sup>
      </a>
    </div> 
  </div>
</div>

<style>
    .container_hair-calculator {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }      

    @media screen and (min-width: 700px) {
        .container_hair-calculator {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
</style>


{% schema %}
  {
    "name": "Hair Calculator",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "hair Transplant Cost Calculator"
      }, {
        "type": "number",
        "id": "product_cost",
        "label": "Product Cost",
        "info": "This value will calculate the saving",
        "default": 2000
      },
      {
        "type":"text",
        "id":"approx_cost",
        "label":"Approx Cost Heading"
      },
       {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 20
     },
       {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
  }
    ],
    "presets": [
      {
        "name": "Hair Calculator"
      }
    ]
  }
{% endschema %}