{% if page.handle == 'female' or page.handle == 'treat-repair-hair-damage-and-split-ends-in-females' or page.handle == 'homev1' %} <!-- Cuticle Page Changes Added (or page.handle == 'treat-repair-hair-damage-and-split-ends-in-females') --> <!-- Homev1 Page Changes Added (or page.handle == 'homev1') -->
<div class="container mt-4">
  <div class="d-flex align-items-center" {% if page.handle == 'female' %}google_review_female{% endif %}> {% comment %}<!-- Cuticle Page Changes Added ({% if page.handle == 'female' %}{% endif %}) -->{% endcomment %}
    <div>
      <img class="d-none d-md-block" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_3a865250-b487-4210-847b-b321d61f874e_60x.png" height="" width="" loading="eager" alt="google rating" title="google rating">
      <img class="d-md-none" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_3a865250-b487-4210-847b-b321d61f874e_50x.png" height="54" width="50" loading="eager" alt="google rating" title="google rating">
    </div>
      <div class="ml-2">
        <div class="d-flex align-items-center mb-md-0 mb-1">
          <p style="font-size: 24px; margin: 0; font-weight: bold; color: #303032;">4.5</p>
          <img class="d-none d-md-block" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/4_2dbad566-310a-4a18-98c9-a23c96a915ef_150x.png" height="30" width="" loading="eager" alt="google rating" title="google rating">
          <img class="d-md-none" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/4_2dbad566-310a-4a18-98c9-a23c96a915ef_120x.png" height="" width="" loading="eager" alt="google rating" title="google rating">
        </div>
        <div class="d-flex align-items-center">
          <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/6_4e2d07e3-d1b3-41cf-9cf2-b26b658e5c2e_25x.png" width="25" height="25" loading="eager" alt="google rating" title="google rating">
          <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/5_cea6b3e4-9b27-4c0d-9171-6615e4d60ac8_140x.png" width="140" height="26" loading="eager" alt="google rating" title="google rating">
        </div>
      </div>
  </div>
</div>
   {% elsif page.handle == 'femalev2' %}
  <div class="container mt-4">
  <div class="d-flex align-items-center" google_review_femalev2>
    <div>
      <img class="lazyload d-none d-md-block" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_3a865250-b487-4210-847b-b321d61f874e_60x.png">
      <img class="lazyload d-md-none" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_3a865250-b487-4210-847b-b321d61f874e_50x.png">
    </div>
      <div class="ml-2">
        <div class="d-flex align-items-center mb-md-0 mb-1">
          <p style="font-size: 24px; margin: 0; font-weight: bold; color: #303032;">4.5</p>
          <img class="lazyload d-none d-md-block" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/4_2dbad566-310a-4a18-98c9-a23c96a915ef_150x.png" height="30">
          <img class="lazyload d-md-none" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/4_2dbad566-310a-4a18-98c9-a23c96a915ef_120x.png">
        </div>
        <div class="d-flex align-items-center">
          <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/6_4e2d07e3-d1b3-41cf-9cf2-b26b658e5c2e_25x.png">
          <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/5_cea6b3e4-9b27-4c0d-9171-6615e4d60ac8_140x.png">
        </div>
      </div>
  </div>
</div>
{% elsif page.handle == 'femalev1' %}
<div class="container">
  <div class="d-flex align-items-center" google_review_femalev1>
    <div>
      <img
        class="lazyload d-none d-md-block"
        data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_3a865250-b487-4210-847b-b321d61f874e_60x.png"
      >
      <img
        class="lazyload d-md-none"
        data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_3a865250-b487-4210-847b-b321d61f874e_50x.png"
      >
    </div>
    <div class="ml-2">
      <div class="d-flex align-items-center mb-md-0 mb-1">
        <p style="font-size: 24px; margin: 0; font-weight: bold; color: #303032;">4.5</p>
        <img
          class="lazyload d-none d-md-block"
          data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/4_2dbad566-310a-4a18-98c9-a23c96a915ef_150x.png"
          height="30"
        >
        <img
          class="lazyload d-md-none"
          data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/4_2dbad566-310a-4a18-98c9-a23c96a915ef_120x.png"
        >
      </div>
      <div class="d-flex align-items-center">
        <img
          class="lazyload"
          data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/6_4e2d07e3-d1b3-41cf-9cf2-b26b658e5c2e_25x.png"
        >
        <img
          class="lazyload"
          data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/5_cea6b3e4-9b27-4c0d-9171-6615e4d60ac8_140x.png"
        >
      </div>
    </div>
  </div>
</div>
{% elsif template == 'index' or request.path contains 'blogs/hair-doctor' %}
<div class="container mt-4">
  <div class="d-flex align-items-center" google_review>
    <div>
      <img class="d-none d-md-block" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_3a865250-b487-4210-847b-b321d61f874e_60x.png" width="60" height="65" loading="eager" alt="google rating" title="google rating">
      <img class="d-md-none" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_3a865250-b487-4210-847b-b321d61f874e_50x.png" width="50" height="54" loading="eager" alt="google rating" title="google rating">
    </div>
      <div class="ml-2">
        <div class="d-flex align-items-center mb-md-0 mb-1">
          <p style="font-size: 24px; margin: 0; font-weight: bold; color: #303032;">4.5</p>
          <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/4_2dbad566-310a-4a18-98c9-a23c96a915ef_130x.png" height="30" width="125" loading="eager" alt="google rating" title="google rating">
        </div>
        <div class="d-flex align-items-center">
          <img class="" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/6_4e2d07e3-d1b3-41cf-9cf2-b26b658e5c2e_25x.png" width="25" height="25" loading="eager" alt="google rating" title="google rating">
          <img class="" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/5_cea6b3e4-9b27-4c0d-9171-6615e4d60ac8_140x.png" width="140" height="26" loading="eager" alt="google rating" title="google rating">
        </div>
      </div>
  </div>
</div>
{% elsif page.handle == 'home-app' or page.handle == "download-traya-app" %}
<div class="container mt-4">
  <div class="d-flex align-items-center justify-content-between home-app-review">
    <div class="d-flex align-items-center">
    <div>
      <img class="d-none d-md-block" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_3a865250-b487-4210-847b-b321d61f874e_60x.png" width="60" height="65" loading="eager" alt="google rating" title="google rating">
      <img class="d-md-none" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_3a865250-b487-4210-847b-b321d61f874e_50x.png" width="auto" height="40" loading="eager" alt="google rating" title="google rating">
    </div>
      <div class="ml-2">
        <div class="d-flex align-items-center mb-md-0 mb-1 app-review">
          <p style="font-size: 22px; margin: 0; font-weight: bold; color: #303032;">4.5</p>
          <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/4_2dbad566-310a-4a18-98c9-a23c96a915ef_130x.png" height="30" width="125" loading="eager" alt="google rating" title="google rating">
        </div>
        <div class="d-flex align-items-center app-review">
          <img class="" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/6_4e2d07e3-d1b3-41cf-9cf2-b26b658e5c2e_25x.png" width="25" height="25" loading="eager" alt="google rating" title="google rating">
          <img class="" src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/5_cea6b3e4-9b27-4c0d-9171-6615e4d60ac8_140x.png" width="140" height="26" loading="eager" alt="google rating" title="google rating">
        </div>
      </div>
    </div>
    <div class="app-review">
      <a href="https://trayahealth.app.link/GsBfukBlAHb" id="app_download_cta" target="_blank">
        <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1000006573.png?v=1709273950" width="auto" height="64" loading="eager" alt="App" title="App">
      </a>
    </div>
  </div>
</div>
  {% elsif page.handle == 'native' %}
  <div class="container mt-4">
  <div class="d-flex align-items-center" google_review>
    <div>
      <img class="lazyload d-none d-md-block" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_3a865250-b487-4210-847b-b321d61f874e_60x.png">
      <img class="lazyload d-md-none" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_3a865250-b487-4210-847b-b321d61f874e_50x.png">
    </div>
      <div class="ml-2">
        <div class="d-flex align-items-center mb-md-0 mb-1">
          <p style="font-size: 24px; margin: 0; font-weight: bold; color: #303032;">4.5</p>
          <img class="lazyload d-none d-md-block" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/4_2dbad566-310a-4a18-98c9-a23c96a915ef_150x.png" height="30">
          <img class="lazyload d-md-none" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/4_2dbad566-310a-4a18-98c9-a23c96a915ef_120x.png">
        </div>
        <div class="d-flex align-items-center">
          <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/6_4e2d07e3-d1b3-41cf-9cf2-b26b658e5c2e_25x.png">
          <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/5_cea6b3e4-9b27-4c0d-9171-6615e4d60ac8_140x.png">
        </div>
      </div>
  </div>
</div>
{% endif %}

{% if page.handle == 'pcos' or page.handle == 'menopause' or page.handle == 'post-pregnancy' or page.handle == 'thyroid' %}
  <div class="container mt-4 section-{{ section.id }}">
  <div class="d-flex align-items-center" google_review_santulanpage>
    <div>
      <img class="lazyload d-none d-md-block" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_3a865250-b487-4210-847b-b321d61f874e_60x.png">
      <img class="lazyload d-md-none" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/2_3a865250-b487-4210-847b-b321d61f874e_50x.png">
    </div>
      <div class="ml-2">
        <div class="d-flex align-items-center mb-md-0 mb-1">
          <p style="font-size: 24px; margin: 0; font-weight: bold; color: #303032;">4.5</p>
          <img class="lazyload d-none d-md-block" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/4_2dbad566-310a-4a18-98c9-a23c96a915ef_150x.png" height="30">
          <img class="lazyload d-md-none" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/4_2dbad566-310a-4a18-98c9-a23c96a915ef_120x.png">
        </div>
        <div class="d-flex align-items-center">
          <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/6_4e2d07e3-d1b3-41cf-9cf2-b26b658e5c2e_25x.png">
          <img class="lazyload" data-src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/5_cea6b3e4-9b27-4c0d-9171-6615e4d60ac8_140x.png">
        </div>
      </div>
  </div>
</div>
{% endif %}

{%- if section.settings.showslide -%}
  <div class="page-width mx-4 mx-md-auto marqueeMain">
    {% if section.settings.title != blank %}
      <h2 class="section-title">{{ section.settings.title | escape }}</h2>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="marquee">
        <ul class="logo-slider my-5">
        {% for block in section.blocks %}
          <li class="logo-bar__item mx-1 mx-md-5" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}" class="logo-bar__link">
          {% endif %}
          {% if block.settings.image != blank %}
            <img src="{{ block.settings.image | img_url: '160x160', scale: 2 }}" alt="{{ block.settings.image.alt }}" title="press-{{ forloop.index }}" width="" height="" loading="eager">
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          {% if block.settings.link != blank %}
            </a>
          {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
    </div>
{%- endif -%}
{%- if section.settings.showMarquee -%}
  {% include 'marquee-logo' %}
  {%- endif -%}
{% schema %}
{
  "name": "Logo Bar",
  "class": "index-section",
  "max_blocks": 50,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
    {
      "type": "checkbox",
      "id": "showMarquee",
      "label": "Show Marquee Logo",
      "default": true
    },
        {
      "type": "checkbox",
      "id": "showslide",
      "label": "Show Slide Logo",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "category": "Image",
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
/* ul.logo-slider{
  display:flex;
  animation: scrolling 20s linear infinite;
}
  @keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translatex(-144vw); }
} */
  .logo-bar__item img {
  display: block;
  width: 100%;
}
.logo-bar__item {
  list-style: none;
  flex: 0 0 13vw;
  margin: 0 1vw;
}
      @media only screen and (min-width: 767px) {
  .marqueeMain{
        overflow: hidden;
    border-bottom: 1px solid rgb(64 211 185 / 30%);
  }
          .logo-bar__item img {
    width: 160px;
}
  }
  @media only screen and (max-width: 767px) {
    .home-app-review .app-review img {height: 22px; width: auto;}
    
.logo-bar__item {
      flex: 0 0 40%;
}
    .marquee {
/*     overflow: hidden; */
      border-bottom: 1px solid rgb(64 211 185 / 30%);
}
    .logo-bar__item img {
    width: 115px;
}
  }
</style>
