<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="page_policy">
{% comment %}
<div class="customer-story-individual">  

  <div class="container breadcrumbs-container">   
    {% render 'breadcrumbs' %}
  </div>
  
</div>
{% endcomment %}

  <div class="page-width page-width--narrow section-{{ section.id }}-padding shopify-policy__title">
    <h1 class="{% if page.title == 'Money-back-policy' %} policy-page-heading{% endif %}" style="text-align:center">{{ page.title }}</h1>
    <div class="rte{% if page.handle != 'return-policy' %} mt-5{% endif %} container">{{ page.content }}</div>
  </div>
</div>

<style>
  .page_policy {
    padding-bottom: 50px;
  }
  .note-container {
    border-left: 4px solid #FFA500; /* Orange border color */
    padding: 10px;
    background-color: #f9f9f9; /* Light gray background color */
    font-family: Arial, sans-serif;
    width: fit-content;
    border-radius: 8px;
    margin: 0 auto;
  }
  .note-container h2 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
  }
  .note-container p {
    margin: 0;
    font-size: 14px;
  }
  .note-container .open-conditions {
    color: #6B8E23; /* Olive green color */
    text-decoration: none;
    cursor: pointer;
    display: inline;
  }
  .note-container .open-conditions:hover {
    text-decoration: underline;
  }
  .modal {
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  #conditionsModal .modal-content,
  #tableMOdal .modal-content {
    top: 8%;
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: max-content; 
    border-radius: 10px;
  }
  #conditionsModal .close,
  #tableMOdal .tableClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  #conditionsModal .close:hover,
  #conditionsModal .close:focus,
  #tableMOdal .tableClose:hover,
  #tableMOdal .tableClose:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .conditions-list ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  .conditions-list ul li {
    margin-bottom: 5px;
  }
  table:not([class]) td {
    padding: 0.2em;
    font-size: 14px;
  }
  .conditions-list {
    margin-top: 22px;
    margin-bottom: -20px;
  }
  h1.policy-page-heading {
    display: none;
  }
  .shopify-policy__title .rte.mt-5 {
    margin-top: 0 !important;
  }
  @media only screen and (max-width: 600px) {
   .scrollable-table {
     overflow-x: auto;
     display: block;
     padding: 2px;
   }
      
   .scrollable-table table {
     width: 100%;
     min-width: 600px;
   }
   .conditions-list ul {
     height: 370px;
     overflow-y: scroll;
   }
   .last-updated{
     font-size: 11px;
   }
  }
</style>
<script>
function openModal(modalId) {
    const modal = document.getElementById(modalId);
    if (modal) {
        modal.style.display = "block";
        document.querySelector('body').style.overflow = 'hidden';
    } else {
        console.error('Modal element not found:', modalId);
    }
}

function closeModal(modalId) {
    const modal = document.getElementById(modalId);
    if (modal) {
        modal.style.display = "none";
        document.querySelector('body').style.overflow = 'auto';
    } else {
        console.error('Modal element not found:', modalId);
    }
}

window.onclick = function(event) {
    const conditionsModal = document.getElementById('conditionsModal');
    const tableModal = document.getElementById('tableModal');
    if (event.target == conditionsModal) {
        conditionsModal.style.display = "none";
    }
    if (event.target == tableModal) {
        tableModal.style.display = "none";
    }
}

document.addEventListener("DOMContentLoaded", function() {
    document.querySelector('.open-conditions').addEventListener('click', function() {
        openModal('conditionsModal');
    });
    document.querySelector('.open-table').addEventListener('click', function() {
        openModal('tableModal');
    });
    document.querySelector('.close').addEventListener('click', function() {
        closeModal('conditionsModal');
    });
    document.querySelector('.tableClose').addEventListener('click', function() {
        closeModal('tableModal');
    });
});
</script>
{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
