<div class="section-trending position-relative soial_review">
  <div class="container">
    <p class="section-title">{{ section.settings.heading }}</p>
    <div class="row social-reviews{% if page.handle == 'customer-stories' %} social_review_border{% endif %}">
      {% for block in section.blocks %}
      <div class="col-md-4 pb-4">
        <div class="border-0 card overflow-hidden rounded-lg shadow">
          <div class="d-flex align-items-center justify-content-center card-header social_logo_review {{ block.settings.social }}" style="background: {% if block.settings.bg_color != '' and block.settings.bg_color_2 != '' %}linear-gradient(0deg, {{ block.settings.bg_color }} 20%, {{ block.settings.bg_color_2 }} 100%){% else %}{{ block.settings.bg_color }}{% endif %};">
            <img src="{{ block.settings.image | img_url: '120x' }}" alt="{{ block.settings.image | escape }}" style="max-width: 120px; max-height: 45px;" title="Image {{ forloop.index }}" width="" height="" loading="lazy">
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between mb-2">
              <a href="{{ block.settings.link }}" class=" text-decoration-none font-weight-bold {{ block.settings.social }}">{{ block.settings.review_name }}</a>
              <span class=" font-weight-bold {{ block.settings.social }}" style="color: {{ block.settings.text_color }}">{{ block.settings.date }}</span>
            </div>
            <div class="star-rating-tranding">
              <span class="icon-star-tranding">
                {%- for i in (1..5) -%}
                  {%- if i > block.settings.rating -%}{%- break -%}{%- else -%}★{%- endif -%}
                {%- endfor -%}
              </span>
            </div>
            <div class="fontSize">{{ block.settings.desc }}</div>
          </div>
          <div class="bg-transparent border-0 card-footer d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
              <img src="{{ block.settings.profile | img_url: '35x' }}" alt="{{ block.settings.profile | escape }}" title="Image {{ forloop.index }}" width="" height="" loading="lazy">
              <span class=" font-weight-bold ml-2 {{ block.settings.social }}" style="color: {{ block.settings.text_color }}">{{ block.settings.profile_name }}</span>
            </div>
            <a href="{{ block.settings.link }}" target="_blank" class="border-bottom  text-decoration-none">Read more</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if page.handle != 'result4' %}
    <div class="m-auto text-center pt-md-4 pt-3 pb-md-3">
      <a href="https://form.traya.health/questions?cohort=1&location=CustomerStories&page=reviews" class="btn btn-dark" id="hairtestcta">TAKE THE HAIR TEST <sup>&trade;</sup></a>
    </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Social Review",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "columns",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "review_name",
          "label": "Review Name"
        },
           {
           "type": "range",
           "id": "rating",
          "label": "Star Rating",
          "default": 5,
          "min": 1,
          "max": 5
         },
        {
          "type": "select",
          "id": "social",
          "label": "SELECT SOCIAL SITE",
           "options":[
			{
           "label": "INSTAGRAM",
		   "value": "instagram"
            },
            {
			 "label": "QUORA",
		   "value": "quora"
            },
            {
			 "label": "GOOGLE",
		   "value": "google"
            }
		  ], "default": "google"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
		{
          "type": "text",
          "id": "date",
          "label": "Date"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "profile",
          "label": "Profile Image"
        },
		{
          "type": "text",
          "id": "profile_name",
          "label": "Profile Name"
        }
      ]
    }
  ],
          "presets":[
          {
          "name":"Social Review"
          }
          ]
}
{% endschema %}

{% style %}
  .social_logo_review.quora{
    background: linear-gradient(0deg, #930c09 20%, #c00401 100%);
  }
  .social_logo_review.instagram{
        background: linear-gradient(0deg, #600c83 20%, #260c89 100%);
  }
  .social_logo_review.google{
        background: linear-gradient(0deg, #15427d 20%, #3f89d4 100%)
  }
  .quora{
    color: #c00401;
  }
    .instagram{
    color: #260c89;
  }
    .google{
    color: #3f89d4;
  }
  .star-rating-tranding .icon-star-tranding{
    color: #ffcc00;
    font-size: 20px;
  }
   .star-rating-tranding {
     position:relative;
     margin-right: auto; 
     margin-right: 0;
   }
  .card-header{
    height:120px;
  }
  .fontSize{
    font-size:18px;
  }
  .slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } 
  .section-trending .display-4 {
    font-size: 56px;
  }
  @media only screen and (max-width: 1199.98px) and (min-width: 992px) {
   .section-trending .display-4 {
      font-size: 48px;
    } 
  }
  @media only screen and (max-width: 991.98px) and (min-width: 768px) {
   .section-trending .display-4 {
      font-size: 40px;
    } 
    .fontSize {
      font-size: 15px;
    }
  }
  @media only screen and (max-width: 767.98px) and (min-width: 576px) {
   .section-trending .display-4 {
      font-size: 35px;
    } 
  }
  @media only screen and (max-width: 575.98px) {
   .section-trending .display-4 {
      font-size: 30px;
    } 
  }
  {% if page.handle == 'customer-stories' %} 
    .row.social-reviews.social_review_border.slick-slider {
      border: 3px solid #A9B699;
      padding: 30px 10px 0;
      box-shadow: 0 4px 8px #00000040;
      border-radius: 13px;
    } 
  {% endif %}
  .template-page.reviews .social-reviews .slick-list.draggable {
    border: 3px solid #A9B699;
    padding: 30px 10px 0;
    box-shadow: 0 4px 8px #00000040;
    border-radius: 13px;
  }
{% endstyle %}