<!-- Sections -> stage-treatment -->

{% if section.settings.enable_treatment %}
<div class="container stage-treat" style="display: none;">
  <h2 class="font-weight-bold text-center mb-4 treat-txt">{{ section.settings.main_title }}</h2>

  <div class="position-relative treat-card">
    <div class="treat-txt-inner">
      <div class="bottom-line">
        <div class="d-flex align-items-center py-3 px-2 p-lg-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="54" height="50" viewBox="0 0 54 50" fill="none">
            <path d="M44.1704 35.9833C43.0722 36.1857 42.2019 36.261 41.3947 36.5127C40.1592 36.8993 39.7501 36.5204 39.7501 35.3373C39.7501 32.5298 39.6705 29.7197 39.6128 26.9122C39.5826 25.4878 39.6128 24.0555 39.4618 22.6414C39.1077 19.3305 41.3865 18.111 43.808 18.0176C44.121 18.0046 44.434 17.9839 44.8211 17.9631C45.1561 16.1338 44.6399 14.481 43.9316 12.906C41.8724 8.33415 38.0946 4.07105 33.4793 1.96674C29.8799 0.326885 26.102 0.607114 22.0771 1.33623C17.2147 2.21843 13.8844 5.13747 11.3832 9.00877C9.81825 11.4322 8.88202 14.0814 8.42077 16.8811C8.36586 17.208 8.41253 17.5506 8.41253 17.9398C9.62331 18.0825 10.7462 18.2356 11.8747 18.3367C12.5638 18.399 12.7175 18.617 12.6956 19.3253C12.5967 22.7322 12.5693 26.1416 12.6159 29.5511C12.6434 31.4478 12.8219 33.3445 13.0195 35.2335C13.1129 36.1209 12.745 36.5775 11.9433 36.9356C8.31644 38.5599 3.39918 36.6995 1.30159 32.8801C-0.897591 28.8764 0.00019969 22.9398 3.30857 19.699C3.59136 19.4213 3.89887 19.0477 4.25579 18.9724C6.12276 18.5858 5.10141 17.2003 5.37871 15.8017C6.35887 10.8614 8.88751 6.69689 13.0717 3.61438C18.0137 -0.0285897 24.754 -0.731756 30.7695 0.700522C37.4686 2.29627 43.4868 5.78615 46.5151 11.7151C47.5172 13.6767 46.9819 15.96 47.5969 18.098C47.4651 18.1344 47.3333 18.1681 47.2015 18.2044C47.2674 18.2615 47.3251 18.3471 47.4019 18.3679C52.4675 19.6756 52.6294 23.7052 53.0303 27.5454C53.1374 28.5573 52.9781 29.6237 52.7557 30.6305C52.0391 33.8583 50.4385 35.1375 46.3943 35.8043C46.2598 36.3907 46.117 37.0134 45.9742 37.6362C45.1204 41.2869 43.7366 42.4623 39.4728 42.9475C37.3944 43.1837 35.2968 43.2563 33.1718 43.4068C32.0022 47.221 28.7213 49.6237 25.1878 49.1826C22.6207 48.8609 19.8148 45.5552 19.7242 42.7451C19.6363 39.9844 21.5115 37.8412 24.5508 37.3248C28.8284 36.5983 31.0605 38.0435 33.0675 42.2003C35.8103 41.9123 38.6958 41.6658 41.5594 41.261C42.0838 41.1857 42.7235 40.5526 42.9349 40.0415C43.4429 38.8064 43.7284 37.4909 44.1704 35.9808V35.9833ZM41.8559 35.2932C43.495 35.1297 44.7525 34.9662 46.0154 34.8832C48.7637 34.7067 51.1688 33.905 51.792 31.3336C52.451 28.6118 52.3768 25.9548 51.5422 23.3082C50.724 20.7213 46.5261 18.9439 43.6707 19.0399C42.589 19.0762 41.8999 19.5355 41.8724 20.576C41.8257 22.4623 41.8587 24.3513 41.8587 26.2402C41.8587 29.2449 41.8587 32.2496 41.8587 35.2906L41.8559 35.2932ZM10.3152 19.7042C9.508 19.5874 8.87928 19.4836 8.24506 19.4058C6.8668 19.2397 4.37384 19.686 3.46232 20.6746C0.546561 23.8323 0.0962937 29.2942 2.55355 32.7815C3.87141 34.6523 6.99035 35.947 9.52448 36.0197C10.447 36.0456 10.727 35.7031 10.6694 34.8754C10.5239 32.7659 10.3728 30.6538 10.3317 28.5417C10.274 25.6201 10.3179 22.6984 10.3179 19.7016L10.3152 19.7042ZM30.6981 43.6403C30.8683 41.5594 29.383 40.2646 27.9498 39.0581C26.7445 38.0435 25.1823 37.8905 23.7409 38.687C22.2912 39.4862 20.4627 40.8562 20.5862 42.3559C20.7318 44.1567 21.9535 46.3959 23.3126 47.6258C24.8665 49.0347 27.4776 48.3264 29.1798 47.0939C30.3796 46.2247 30.7667 45.0389 30.6981 43.6429V43.6403Z" fill="#B7D340"/>
          </svg>
          <span class="ml-2">{{ section.settings.main_title1 }}</span>
        </div>
      </div>
      <p>{{ section.settings.main_txt1 }}</p>
    </div>
              
    <img class="pr-lg-4" src="{{ section.settings.main_img1 | img_url: 'master' }}" />
  </div>

  <div class="position-relative mt-3 treat-card2">
    <img class="pl-4 pt-4" src="{{ section.settings.main_img2 | img_url: 'master' }}" />

    <div class="treat-txt-inner">
      <div class="bottom-line">
        <div class="d-flex justify-content-end align-items-center py-3 px-2 py-lg-4 pr-lg-5">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="52" viewBox="0 0 50 52" fill="none">
            <path d="M29.8973 46.7108C26.6326 47.0761 23.4353 47.6922 20.2256 47.7351C15.3672 47.7996 10.4964 47.5441 5.6405 47.2743C2.65843 47.1072 1.83035 46.0924 1.74279 43.2414C1.72278 42.5704 1.69025 41.8732 1.48511 41.2405C-0.203561 36.0352 0.194219 30.7869 1.13737 25.5458C1.93293 21.1142 1.73528 16.7016 1.43758 12.2413C1.24244 9.29959 1.64522 6.31013 1.95293 3.35888C2.01548 2.76433 2.75099 1.92145 3.35391 1.74715C5.24272 1.19797 7.20658 0.632066 9.15544 0.579536C14.4841 0.436271 19.8228 0.558044 25.1565 0.56282C28.0761 0.565207 30.5178 1.54896 32.4141 3.70032C33.2722 4.67452 34.1353 5.64394 34.9884 6.62053C36.9697 8.89605 37.7103 11.5465 37.7553 14.4714C37.8428 20.0468 37.6202 25.5983 36.8347 31.1284C36.7621 31.6322 36.7671 32.1479 36.7196 32.8977C37.275 31.5558 37.5827 30.3571 38.2456 29.3781C38.6859 28.7263 39.5866 28.2702 40.3821 27.9646C40.7198 27.8357 41.3753 28.2464 41.7681 28.552C41.9707 28.7096 41.9132 29.1752 41.9732 29.4999C41.6305 29.4999 41.2827 29.5405 40.9475 29.4951C40.5973 29.4474 40.2595 29.3208 39.9168 29.2277C39.8868 29.3423 40.9775 29.3805 40.9475 29.4951C41.3203 29.6289 40.5697 29.8366 40.9925 29.987C40.5948 30.6269 40.2195 31.2263 39.7517 31.9784C42.356 31.902 44.505 32.8237 46.659 33.7501C48.5753 34.5763 49.4834 35.9659 49.5485 37.9645C49.6335 40.6077 49.6085 43.2151 48.2075 45.6196C45.5582 50.1683 42.2484 51.6606 36.7846 50.844C33.7475 50.3903 31.606 48.707 29.8998 46.718L29.8973 46.7108ZM35.6688 29.6241C36.567 23.0411 36.8697 16.7064 36.1041 10.5866C33.9952 10.5866 32.1364 10.6057 30.2776 10.5818C27.3956 10.5436 26.545 9.61 26.8978 6.8808C27.0704 5.54128 27.278 4.20413 27.4807 2.86699C27.6283 1.89518 27.3431 1.43435 26.1722 1.43674C20.5909 1.45106 15.0095 1.33407 9.42812 1.39615C7.91958 1.41286 6.40853 1.86415 4.90999 2.165C3.74918 2.399 3.11125 3.15353 3.0462 4.26622C2.89109 6.95482 2.52833 9.66253 2.71096 12.3344C3.03368 17.0407 2.94363 21.6848 2.13807 26.3505C1.39755 30.6317 1.14238 34.9583 2.24815 39.2586C2.59339 40.6006 2.83355 41.9783 2.98115 43.3536C3.1938 45.3689 3.83424 46.0971 5.9357 46.3908C11.6121 47.1812 17.3086 47.2934 23.0126 46.78C25.1866 46.5842 27.3431 46.2309 29.7722 45.9133C26.6075 41.2166 27.9085 37.4034 31.7886 33.9961C29.7798 33.805 28.5414 32.8022 27.8809 31.1355C27.6458 30.5434 27.4832 29.9226 27.3205 29.3089C26.9953 28.0792 26.3799 27.1289 24.9964 26.7492C24.6662 26.6585 24.426 26.2645 24.0908 25.9589C28.5064 25.7798 32.5642 26.1022 35.6713 29.6169L35.6688 29.6241ZM36.8547 35.4645C37.0373 34.3996 36.7196 33.5519 35.5638 33.922C34.1453 34.3733 32.6668 34.9798 31.5485 35.8919C29.9549 37.1909 28.9892 39.1225 29.2419 41.0924C29.5396 43.399 30.4852 45.6697 32.284 47.3507C34.483 49.4042 37.31 50.0274 40.3221 49.9414C41.8756 49.8984 43.2216 49.354 44.3999 48.3727C47.9574 45.4023 48.7854 41.5628 48.145 37.3389C48.0249 36.5533 47.3194 35.5672 46.5939 35.2043C44.9178 34.3685 43.109 33.6785 41.2702 33.2678C38.9336 32.7449 38.5709 33.1245 38.1706 35.5242C39.2188 35.5958 40.247 35.7797 40.92 34.667C41.0201 34.5023 41.5029 34.55 41.8106 34.4999C41.8506 34.784 42.0232 35.2401 41.9057 35.3236C41.2377 35.7964 40.5422 36.4053 39.7742 36.5462C38.4833 36.7802 37.1324 36.7133 35.8039 36.7229C35.5763 36.7229 35.3486 36.4674 35.121 36.3313C35.3086 36.1116 35.4537 35.7964 35.6964 35.6913C36.0566 35.5361 36.4869 35.5314 36.8597 35.4693L36.8547 35.4645ZM28.9016 2.17933C28.714 3.38037 28.4813 4.57663 28.3538 5.78244C28.2537 6.72321 28.1636 7.69263 28.3112 8.6143C28.3863 9.08946 28.9192 9.78668 29.3595 9.87503C31.4334 10.2953 33.5073 10.0756 35.5938 9.61238C34.488 7.00735 30.6854 2.82402 28.9041 2.17933H28.9016ZM27.5132 27.7473C27.8209 28.6356 28.1436 29.4737 28.4013 30.3309C29.0918 32.6303 29.8023 33.1221 32.344 32.9478C33.1021 32.8953 33.8551 32.7926 34.6757 32.7067C31.4734 28.6308 32.2665 29.6074 27.5132 27.7473ZM28.2487 27.2316C30.9255 28.3538 33.7375 29.2588 35.3361 31.9259C35.2385 30.9899 35.196 29.9393 34.6256 29.4498C32.8794 27.9479 30.8555 26.8495 28.2487 27.2316Z" fill="#B7D340"/>
            <path d="M26.4194 17.1577C26.0398 17.1577 25.6223 17.3418 25.2883 17.132C20.6955 14.2115 15.8724 17.9156 11.2467 15.706C10.5635 15.3805 9.74866 15.9115 8.99458 15.9073C8.73141 15.9073 8.46825 15.4876 8.20508 15.2606C8.39992 14.871 8.57959 14.1644 8.78962 14.1387C10.1637 13.976 11.563 13.6933 12.9219 13.9545C15.3132 14.4127 17.6463 14.9223 20.0502 13.8132C20.9915 13.3807 22.1556 13.719 23.1273 14.2158C25.0226 15.1836 26.8825 15.6503 28.8411 14.9266C29.1472 14.811 29.5293 15.2649 29.876 15.4533C29.6002 15.8858 29.3598 16.5753 29.0384 16.7038C28.1882 17.0506 27.3025 17.1577 26.4321 17.3589C26.427 17.2947 26.4245 17.2262 26.4194 17.162V17.1577Z" fill="#B7D340"/>
            <path d="M25.9345 33.1718C25.4701 33.3161 24.9953 33.6251 24.5413 33.5736C22.2768 33.3161 20.1296 33.8654 18.1259 35.208C16.404 36.3617 14.7578 36.3548 13.0228 35.2801C12.154 34.741 11.1861 34.4732 10.1738 34.0474C10.86 32.7735 11.961 33.0208 12.5819 33.5015C15.05 35.4071 17.265 34.5865 19.7017 33.3058C21.2488 32.492 23.0829 32.5984 24.7944 32.3443C25.144 32.2928 25.5119 32.4851 25.8719 32.5641C25.8928 32.7667 25.9136 32.9727 25.9319 33.1753L25.9345 33.1718Z" fill="#B7D340"/>
            <path d="M21.9957 25.8388C20.8882 25.8774 19.7584 26.0684 18.6833 25.9161C17.0995 25.6913 15.6753 25.5365 14.1962 26.4891C13.5752 26.8904 12.4453 26.668 11.5723 26.5568C10.4848 26.4166 9.42226 26.095 8.20508 25.6405C8.79122 25.493 9.38983 25.1884 9.96101 25.2343C10.8564 25.3045 11.7244 25.7227 12.6174 25.7807C13.3781 25.8291 14.1688 25.6163 14.932 25.4495C15.7202 25.2779 16.4909 24.833 17.2616 24.8475C18.843 24.8765 20.4168 25.1352 21.9957 25.2996C21.9957 25.4785 21.9957 25.6599 21.9957 25.8388Z" fill="#B7D340"/>
            <path d="M8.20341 33.1974C8.22504 33.7905 7.44358 34.2022 6.28897 34.2077C5.13166 34.2133 4.26097 33.7988 4.26368 33.2434C4.26368 32.7062 5.03161 32.3489 6.21055 32.3364C7.5977 32.321 8.18177 32.5736 8.20341 33.1974Z" fill="#B7D340"/>
            <path d="M8.20372 24.9172C8.21512 25.9602 7.42279 26.6991 6.27704 26.7189C5.04864 26.7388 4.07961 25.9005 4.29337 24.7211C4.40737 24.0788 5.00589 23.1638 5.55027 23.0274C6.81002 22.7148 8.19232 23.8629 8.20372 24.92V24.9172Z" fill="#B7D340"/>
            <path d="M8.20309 14.8087C8.10321 15.1497 7.66179 15.4894 6.38262 15.4868C5.20657 15.4842 3.99185 14.9636 4.31728 14.4782C4.5396 14.1476 5.28711 13.7402 6.03463 13.6335C7.01414 13.4929 8.23853 14.1684 8.20309 14.81V14.8087Z" fill="#B7D340"/>
            <path d="M43.666 41.6961C45.096 39.7184 45.466 37.9368 43.8703 36.0798C46.2407 37.2102 46.2754 40.5044 43.666 41.6961Z" fill="#B7D340"/>
          </svg>
          <span class="ml-2">{{ section.settings.main_title2 }}</span>
        </div>
      </div>
      <p>{{ section.settings.main_txt2 }}</p>
    </div>              
  </div>
</div>
{% endif %}

<style>
  .treat-txt {font-size: 44px; line-height: 50px; letter-spacing: 0em;}
  .treat-card {border: 2px solid #B7D340; border-radius: 14px; display: grid; grid-template-columns: 2fr 1fr;}
  .treat-card2 {border: 2px solid #B7D340; border-radius: 14px; display: grid; grid-template-columns: 1fr 2fr;}
  .treat-txt-inner span {font-family: fredoka_oneregular!important; color: #B7D340; font-size: 38px; line-height: 48px; letter-spacing: 0em;}
  .bottom-line:after {content: ''; width: 300px; height: 1px; display: block; background: #B7D340; opacity: 0.5;}
  .treat-card2 .bottom-line:after {margin-left: auto;}
  .treat-txt-inner p {font-size: 30px; line-height: 40px; color: #3F3F3F; opacity: 0.8; padding: 50px 0 0 50px;}

  @media screen and (min-width: 501px) and (max-width: 992px) {
    .treat-txt {font-size: 34px; line-height: 40px;}
    .treat-txt-inner span {font-size: 30px; line-height: 30px;}
    .bottom-line:after {content: ''; width: 300px; height: 1px; display: block; background: #B7D340; opacity: 0.5;}
    .treat-card2 .bottom-line:after {margin-left: auto;}
    .treat-txt-inner p {font-size: 22px; line-height: 25px; padding: 30px 0 30px 10px;}
    .treat-card img {height: 200px; position: absolute; bottom: 0; right: 0;}
    .treat-card2 img {height: 300px;}
  }  
  
  @media screen and (max-width: 500px) {
    .treat-txt {font-size: 24px; line-height: 28px; width: 230px; margin: auto;}
    .treat-txt-inner svg {height: 25px; width: 25px;}
    .treat-txt-inner span {font-size: 17px; line-height: 21px; letter-spacing: 0em;}
    .bottom-line:after {width: 150px;}    
    .treat-txt-inner p {font-size: 12px; line-height: 16px; color: #414042; padding: 20px 10px;}
    .treat-card img {height: 150px; position: absolute; bottom: 0; right: 0;}
    .treat-card2 img {height: 150px;}
  }
</style>

{% schema %}
  {
    "name": "Stage 2 & 3 Treat Prod",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_treatment",
        "label": "Enable Treatment Section"
      },
      {
        "type": "text",
        "id": "main_title",
        "label": "Main Title"
      },
      {
        "type": "text",
        "id": "main_title1",
        "label": "First Main Title"
      },
      {
        "type": "html",
        "id": "main_txt1",
        "label": "First Main Text"
      },
      {
        "type": "image_picker",
        "id": "main_img1",
        "label": "First Main Image"
      },
      {
        "type": "text",
        "id": "main_title2",
        "label": "Second Main Title"
      },
      {
        "type": "html",
        "id": "main_txt2",
        "label": "Second Main Text"
      },
      {
        "type": "image_picker",
        "id": "main_img2",
        "label": "Second Main Image"
      }      
    ],
    "presets": [{"name": "Stage 2 & 3 Treat Prod"}]
  }
{% endschema %}