<div class="container section-{{ section.id }}-padding">
  {% if section.settings.heading != blank %}
    <div class="pb-3 px-3"><p class="text-center font-weight-bold transparent_scientific_heading">{{ section.settings.heading }}</p></div>  
  {% endif %}
  <div class="d-flex flex-wrap align-items-start transparent_steps">
    {%- for block in section.blocks -%}
      <div class="col-md-4 col-12 d-flex flex-wrap">
        <div class="col-12 p-0">
          {% if block.settings.sicence_image != blank %}
            {%- assign width = block.settings.sicence_image.width | divided_by: 2 -%}
            {%- assign height = block.settings.sicence_image.height | divided_by: 2 -%}
            {%- assign alt = block.settings.sicence_image.alt | default: 'Science' -%}
            {{ block.settings.sicence_image | image_url: width: 400 | image_tag: width: width, height: height, alt: alt, title: alt, loading: 'lazy', class: 'Transparent_scientific_image m-auto d-block' }}
          {% endif %}
        </div>
        <div class="col-12 p-0 text-center">
          {% if block.settings.step_name != blank %}<p class="m-0 py-2 font-weight-bold transparent_step_name">{{ block.settings.step_name }}</p>{% endif %}
          {% if block.settings.step_description != blank %}<p class="m-0 transparent_scientific_description">{{ block.settings.step_description }}</p>{% endif %}
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
  {
    "name": "Transparent Scientific",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Enter Heading",
        "info": "Heading"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 0
      }
    ],
    "blocks": [
      {
        "name": "Scientific Card",
        "type": "Scientific_Card",
        "settings": [
          {
            "type": "image_picker",
            "id": "sicence_image",
            "label": "Select Image",
            "info": "Science Image"
          },
          {
            "type": "text",
            "id": "step_name",
            "label": "Enter Step Name",
            "info": "Step Name"
          },
          {
            "type": "text",
            "id": "step_description",
            "label": "Enter Step Description",
            "info": "Step Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Transparent Scientific"
      }
    ]
  }
{% endschema %}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  #shopify-section-{{ section.id }} .transparent_scientific_heading {font-size: 48px;line-height: 65.47px;}
  #shopify-section-{{ section.id }} .transparent_step_name {font-size: 32px;line-height: 43.65px;}
  #shopify-section-{{ section.id }} .transparent_scientific_description {font-size: 20px;line-height: 27.28px;font-weight: 300;min-height: 140px;}
  @media only screen and (max-width: 1199.98px) and (min-width: 992px) {
    #shopify-section-{{ section.id }} .transparent_scientific_heading {font-size: 44px;line-height: 60.47px;}
    #shopify-section-{{ section.id }} .Transparent_scientific_image {width: 130px;height: 130px;}
    #shopify-section-{{ section.id }} .transparent_step_name {font-size: 28px;line-height: 38.65px;}
    #shopify-section-{{ section.id }} .transparent_scientific_description {font-size: 15px;line-height: 24.28px;min-height: 100px;}
  }
  @media only screen and (max-width: 991.98px) and (min-width: 768px) {
    #shopify-section-{{ section.id }} .transparent_scientific_heading {font-size: 30px;line-height: 45.47px;}
    #shopify-section-{{ section.id }} .Transparent_scientific_image {width: 100px;height: 100px;}
    #shopify-section-{{ section.id }} .transparent_step_name {font-size: 25px;line-height: 30.65px;}
    #shopify-section-{{ section.id }} .transparent_scientific_description {font-size: 12px;line-height: 20.28px;min-height: 110px;}
  }
  @media only screen and (max-width: 767.98px) {
    #shopify-section-{{ section.id }} .transparent_scientific_heading {font-size: 20px;line-height: 27.28px;}
    #shopify-section-{{ section.id }} .Transparent_scientific_image {width: 60px;height: 60px;}
    #shopify-section-{{ section.id }} .transparent_step_name {font-size: 14px;line-height: 19.1px;}
    #shopify-section-{{ section.id }} .transparent_scientific_description {font-size: 12px;line-height: 16.37px;min-height: unset;}
    #shopify-section-{{ section.id }} .transparent_steps {row-gap: 20px;}
  }
{% endstyle %}