<div class="text-center mt-5 mb-0 pb-5 ">
  <div class="section-title">
    <h2 class="mb-4 py-2 font-weight-bold font_title__heading">{{ section.settings.text-hloss }}</h2>
  </div>
    <div class="p-4 p-md-5">
        {%for block in section.blocks %}
          {% if block.type == 'content1' %}
          {%if block.settings.content_heading != blank%}
        <div class="row p-3 my-2 rounded-lg" style="background: #F3F3F3;" >
          <div class="col-12 col-md-10 px-0 px-md-2">
          
            <h4 class="type-hair-how-subhead font-weight-bold" >{{ block.settings.content_heading }}</h4>
            {% endif %}
            {%if block.settings.content_text != blank%}
            <p class="mb-lg-5">{{ block.settings.content_text }} 
            </p>
            {% endif %}
          </div>
          {%if block.settings.content_image != blank%}
          <div class="col-3 col-md-2 text-md-center image-block d-none d-md-block">
            <img class="hair-how-img" src="{{ block.settings.content_image | img_url: '' }}" alt="{{ block.settings.content_image | escape }}" class="content_image">
          </div>
          {% endif %}
        </div>
            {% endif %}
          {% endfor %}
    </div>
  <div class="hair-loss-typ p-2 p-md-4" style="background: #C4C4C4;">
    <div class="hair-loss-typ-stages d-flex py-3 px-2 rounded-lg justify-content-between" style="background: #ffffff;">
      {% for block in section.blocks %}
        {% if block.type == 'content' %}
  <div class="hr-typ-stage px-1 text-center">
    {%if block.settings.slidelogo_image != blank%}
      <div class="hr-stage-img">
        <img class="hair-how-img2" src="{{ block.settings.slidelogo_image | img_url: '' }}" alt="{{ block.settings.slidelogo_image | escape }}" class="slidelogo_image">
      </div>
    {% endif %}
    {%if block.settings.logos_heading != blank%}
      <div class="hr-stage-txt">{{ block.settings.logos_heading }}</div>
      {% endif %}
      </div>
          {% endif %}
        {% endfor %}
    </div>
      </div>
</div>


{% schema %}
  {
    "name": "Type Of Hair Loss",
    "settings": [
      {
        "id": "text-hloss",
        "type": "text",
        "label": "Heading"
      }
    ],
"blocks": [
  {
  "type": "content1",
  "name": "Hair loss Point",
  "settings": [
          {
          "id": "content_heading",
          "type": "text",
          "label": "Top Heading"
          },
          {
          "id": "content_text",
          "type": "richtext",
          "label": "Top Content"
          },
          {
          "id": "content_image",
          "type": "image_picker",
          "label": "Right Top Image"
          }
      ]
    },
      {
    "type": "content",
    "name": "Hair loss image2",
    "settings": [
            {
            "id": "slidelogo_image",
            "type": "image_picker",
            "label": "Right Top Image"
            },
            { 
            "id": "logos_heading",
            "type": "text",
            "label": "Image heading"
            }
      
        ]
      }
  ],
          "presets":[
          {
          "name":"Type Of Hair Loss",
          "category":"Custom"
          }]
  }
{% endschema %}
<style>
  .hr-stage-img {
    border: 1px solid #000;
    border-radius: 50%;
    padding: 17px;
    width: 110px;
    height: 110px;
    margin: 0 auto;
}
  img {
    vertical-align: middle;
    border-style: none;
}
  .px-1 {
    padding-left: 0.25rem!important;
    padding-right: 0.25rem!important;
}
  .d-flex {
    display: flex!important;
}
  .font_title__heading {
    font-size: 40px !important;
    letter-spacing: 0;
    text-transform: capitalize !important;
}
  .font-weight-bold {
    font-weight: 700!important;
}
  h4.type-hair-how-subhead.font-weight-bold {
    font-size: 30px;
}
  p {
    font-size: 24px;
}
  .row.p-3.my-2.rounded-lg {
    text-align: left;
}
  @media only screen and (max-width: 767.98px){
    .hr-typ-stage {
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}
    .hr-stage-img {
    width: 70px;
    height: 70px;
    padding: 10px;
}
    .d-flex {
    display: flex!important;
    flex-wrap: wrap;
}
    
  }
</style>