{% layout none %}
<div
  class="col-12 col-md-4 px-2"
  bis_skin_checked="1"
  style=""
  aria-hidden="true"
  tabindex="0"
  role="tabpanel"
  id="slick-slide10"
  aria-describedby="slick-slide-control10"
>
  <div
    class="product-item card border-0 mt-1 p-3 p-md-4 h-100 mb-0 position-relative co_bdr"
    bis_skin_checked="1"
  >
    <div class="male_pro_badges">
      <ul>
        {% if product.id == 6083706912946 or product.id == 8186770030770 or product.id == 7542857597106 or product.id == 7225606734002 or product.id == 6117270716594 or product.id == 6083722313906 or product.id == 6083718545586 or product.id == 7225606734002 or product.id == 6083539697842 or product.id == 7697669521586 or product.id == 7697646420146 %}
          <li class="cstm_result_en">
            <!-- Dandruff Tag & Dosage on Cards Changes -->
            <span class="d-flex">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/dermatology-icon.png" alt="dermatology" title="Dermatology" width="100" height="" loading="lazy" /> <!-- Dandruff Tag & Dosage on Cards Changes (This is Old Line) -->
              {% if product.id == 7542857597106 or product.id == 6117270716594 or product.id == 7301200281778 %}
                <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1000006450.png?v=1700215727" width="100" height="" loading="lazy" style="margin-left: 5px;" />
              {% endif %}
            </span>
            <!-- Dandruff Tag & Dosage on Cards Changes -->
          </li>
          <li class="cstm_result_hi">
            <!-- Dandruff Tag & Dosage on Cards Changes -->
            <span class="d-flex">
              {% render 'dermatology-tag-hi' %} <!-- Dandruff Tag & Dosage on Cards Changes (This is Old Line) -->
              {% if product.id == 7542857597106 or product.id == 6117270716594 or product.id == 7301200281778 %}
                {% render 'dandruff-tag-hi' %}
              {% endif %}
            </span>
            <!-- Dandruff Tag & Dosage on Cards Changes -->
          </li>
          <li class="cstm_result_hinglish">
            <!-- Dandruff Tag & Dosage on Cards Changes -->
            <span class="d-flex">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/dermatology-icon.png" alt="dermatology" title="Dermatology" width="100" height="" loading="lazy" /> <!-- Dandruff Tag & Dosage on Cards Changes (This is Old Line) -->
              {% if product.id == 7542857597106 or product.id == 6117270716594 or product.id == 7301200281778 %}
                <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1000006450.png?v=1700215727" width="100" height="" loading="lazy" style="margin-left: 5px;" />
              {% endif %}
            </span>
            <!-- Dandruff Tag & Dosage on Cards Changes -->
          </li>        
        {% elsif product.id == 7567028912306 or product.id == 8218687373490 or  product.id == 8218670268594 or  product.id == 8217745096882 or  product.id == 8218699301042 or product.id == 7566949023922 or product.id == 7566974124210 or product.id == 7566981562546 or product.id == 7301200281778 or product.id == 7301219352754 or product.id == 7301225480370 or product.id == 7301226102962 or product.id == 6083699409074 or product.id == 6083604414642 or product.id == 6083703701682 or product.id == 7466202529970 or product.id == 7514299465906 or product.id == 6083692134578 or product.id == 8140645040306 or product.id == 8140640944306 or product.id == 8142231568562 or product.id == 8140644024498 %}
          <li class="cstm_result_en">
            <!-- Dandruff Tag & Dosage on Cards Changes -->
            <span class="d-flex">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/ayurveda-icon.png" alt="ayurveda" title="Ayurveda" width="100" height="" loading="lazy" /> <!-- Dandruff Tag & Dosage on Cards Changes (This is Old Line) -->
              {% if product.id == 7542857597106 or product.id == 6117270716594 or product.id == 7301200281778 %}
                <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1000006450.png?v=1700215727" width="100" height="" loading="lazy" style="margin-left: 5px;" />
              {% endif %}
            </span>
            <!-- Dandruff Tag & Dosage on Cards Changes -->
          </li>
          <li class="cstm_result_hi">
            <!-- Dandruff Tag & Dosage on Cards Changes -->
            <span class="d-flex">
              {% render 'ayurveda-tag-hi' %} <!-- Dandruff Tag & Dosage on Cards Changes (This is Old Line) -->
              {% if product.id == 7542857597106 or product.id == 6117270716594 or product.id == 7301200281778 %}
                {% render 'dandruff-tag-hi' %}
              {% endif %}
            </span>
            <!-- Dandruff Tag & Dosage on Cards Changes -->
          </li>
          <li class="cstm_result_hinglish">
            <!-- Dandruff Tag & Dosage on Cards Changes -->
            <span class="d-flex">
              <img src="//cdn.shopify.com/s/files/1/0100/1622/7394/files/ayurveda-icon.png" alt="ayurveda" title="Ayurveda" width="100" height="" loading="lazy" /> <!-- Dandruff Tag & Dosage on Cards Changes (This is Old Line) -->
              {% if product.id == 7542857597106 or product.id == 6117270716594 or product.id == 7301200281778 %}
                <img src="https://cdn.shopify.com/s/files/1/0100/1622/7394/files/Frame_1000006450.png?v=1700215727" width="100" height="" loading="lazy" style="margin-left: 5px;" />
              {% endif %}
            </span>
            <!-- Dandruff Tag & Dosage on Cards Changes -->
          </li>
        {% endif %}
        <li class="must-have cstm_result_en">
          {% render 'must-have-svg' %}
        </li>
        <li class="must-have cstm_result_hi">
          {% render 'must-have-svg-hi' %}
        </li>
        <li class="must-have cstm_result_hinglish">
          {% render 'must-have-svg' %}
        </li>
      </ul>
    </div>
    <div class="male_product_list_flex flex-wrap">
      <div class="col-12 gender-m-stage-1-pro" bis_skin_checked="1">
        {% assign alt = product.title | truncate: 10 %}
        {{ product.featured_image | image_url: width: 400 | image_tag: width: '300', height: '300', alt: alt, title: product.title, loading: 'lazy', class: 'male_pro_img mx-auto result4_pd_image' }}
      </div>
      <div class="col-12 gender-m-stage-1-pro px-0 pl-md-3" bis_skin_checked="1">
        <div class="d-flex flex-wrap shadow-none pb-0" bis_skin_checked="1">
          <div class="male_prod_tit col-12 text-center" bis_skin_checked="1">
            <h6
              class="font-weight-bold text-uppercase mt-md-4 d-md-none"
              data-product-name=""
              style="font-size: 13px; letter-spacing: normal; padding-right: 3.5rem;"
            >
              {{ product.metafields.custom.product_title | split: ' Booster Oil' | first }}
            </h6>
            <h4
              class="font-weight-bold mb-3 text-uppercase d-none d-md-block"
              data-product-name=""
              style="max-width:98%; letter-spacing: normal; font-size: 24px;"
            >
              {{ product.metafields.custom.product_title | split: ' Booster Oil' | first }}
            </h4>
          </div>

          <div class="price-on-top text-center col-12 p-0" bis_skin_checked="1">
            <h5 class="font-weight-bold mb-0 text-tradewind d-none d-md-block" style="font-size: 30px;">
              {{ product.price | money }}
            </h5>
            <h6 class="font-weight-bold mb-0 text-tradewind d-md-none w-100">{{ product.price | money }}</h6>
          </div>
          <div class="col-12">
            <p class="m-0 py-2 text-center cstm_result_en">{{ product.metafields.custom.result4c_desc }}</p>
            <p class="m-0 py-2 text-center cstm_result_hi">{{ product.metafields.custom.result4c_desc_hi }}</p>
            <p class="m-0 py-2 text-center cstm_result_hinglish">{{ product.metafields.custom.result4c_desc_hinglish }}</p>
          </div>
          <div class="py-md-3 pt-2 pb-0 border-top border-bottom col-12">
            <div class="text-center">
              <p class="m-0 pb-2 cstm-ingre cstm_result_en">Key Ingredients</p>
              <p class="m-0 pb-2 cstm-ingre cstm_result_hi">मुख्य इंग्रेडिएंट्स</p>
              <p class="m-0 pb-2 cstm-ingre cstm_result_hinglish">Main Ingredients</p>
            </div>
            {% assign Ingredients = product.metafields.custom.result4_ingredients.value %}
            {% assign HindiIngredients = product.metafields.custom.result4_ingredients_hi.value %}
            {% assign hinglishIngredients = product.metafields.custom.result4_ingredients_hinglish.value %}
            <div class="d-flex flex-wrap justify-content-center pt-md-3 pt-1 cstm-dosage-icons cstm_result_en">
              {% for ingredient in Ingredients %}
                {% if ingredient.ingredient_image != blank %}
                <div class="d-flex flex-wrap col-3 p-0">
                  <div class="col-12 p-0">
                    {{ ingredient.ingredient_image | image_url: width: 50 | image_tag: width: '50', height: '50', alt: ingredient.ingredient_name, title: ingredient.ingredient_name, loading: 'lazy', class: 'm-auto' }}
                  </div>
                  <div class="col-12 p-0">
                    <p class="m-0 pt-2 text-center result_card_ingredient_name">{{ ingredient.ingredient_name }}</p>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="d-flex flex-wrap justify-content-center pt-md-3 pt-1 cstm-dosage-icons cstm_result_hi">
              {% for ingredient in HindiIngredients %}
                {% if ingredient.ingredient_image_hi != blank %}
                <div class="d-flex flex-wrap col-3 p-0">
                  <div class="col-12 p-0">
                    {{ ingredient.ingredient_image_hi | image_url: width: 50 | image_tag: width: '50', height: '50', alt: ingredient.ingredient_name_hi, title: ingredient.ingredient_name_hi, loading: 'lazy', class: 'm-auto' }}
                  </div>
                  <div class="col-12 p-0">
                    <p class="m-0 pt-2 text-center result_card_ingredient_name">{{ ingredient.ingredient_name_hi }}</p>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="d-flex flex-wrap justify-content-center pt-md-3 pt-1 cstm-dosage-icons cstm_result_hinglish">
              {% for ingredient in hinglishIngredients %}
                {% if ingredient.ingredient_image_hinglish != blank %}
                <div class="d-flex flex-wrap col-3 p-0">
                  <div class="col-12 p-0">
                    {{ ingredient.ingredient_image_hinglish | image_url: width: 50 | image_tag: width: '50', height: '50', alt: ingredient.ingredient_name_hinglish, title: ingredient.ingredient_name_hinglish, loading: 'lazy', class: 'm-auto' }}
                  </div>
                  <div class="col-12 p-0">
                    <p class="m-0 pt-2 text-center result_card_ingredient_name">{{ ingredient.ingredient_name_hinglish }}</p>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="py-md-2 py-0 col-12">
            <!-- Dandruff Tag & Dosage on Cards Changes -->
            {%- assign male-subtitle =  product.metafields.custom.male_result_dosage -%}
            {%- assign subtitle-hi =  product.metafields.custom.male_result_dosge_hi -%}
            {%- assign subtitle-hinglish =  product.metafields.custom.male_result_dosge_hinglish -%}
            <p class="male_pro_dosage mt-2 m-md-0" style="font-size: 12px;">
              <span class="cstm_result_hinglish">{{ subtitle-hinglish }}</span>
              <span class="cstm_result_hi">{{ subtitle-hi }}</span>
              <span class="cstm_result_en">{{ male-subtitle }}</span>
            </p>
            <!-- Dandruff Tag & Dosage on Cards Changes -->

            <!-- Dandruff Tag & Dosage on Cards Changes (Commented The Code) -->
            {% comment %}
            {% if product.id == 6083706912946 or product.id == 8186770030770 or product.id ==7542857597106 or product.id == 7225606734002 or product.id == 6117270716594 or product.id == 6083722313906 or product.id == 6083718545586 or product.id == 7225606734002 or product.id == 6083539697842 or product.id == 7697669521586 or product.id == 7697646420146 %}
              <p class="m-0 text-center cstm-dosage-4c"><span class="d-none">Ayurveda Proprietary Medicine</span></p>
            {% else %}
              <p class="m-0 text-center cstm-dosage-4c">Ayurveda Proprietary Medicine</p>
            {% endif %}
            {% endcomment %}
            <!-- Dandruff Tag & Dosage on Cards Changes (Commented The Code) -->
          </div>
        </div>
      </div>
    </div>
  <div class="verified_icon">
  {% if product.id == 7567028912306 or product.id == 7566949023922 or product.id == 7566974124210 or product.id == 7566981562546 or product.id == 6083604414642 or product.id == 6083699409074 or product.id == 6083692134578 %}
    {% render 'new-icons', icon: 'verified-icon' %}
  {% elsif product.id == 7225606734002 or product.id == 6117270716594 or product.id == 7542857597106 or product.id == 6083539697842 %}
    {% render 'new-icons', icon: 'dermatology-tested' %}
  {% endif %}
  </div>
  </div>
</div>
